@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
@import 'style.scss';
@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: {
        family: $font-main;
        size: 10px;
        weight: normal;
    }
    scroll-behavior: smooth;
}

ul, ol, li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $color-main;
}

h1 {
    display: none;
}

h2 {
    font: {
        size: $font-5rem;
        weight: bold;
    }
    color: $color-main;
}

h3 {
    font: {
        size: $font-2_6rem;
    }
    color: $color-sub;
}

h4 {
    font: {
        size: $font-1_6rem;
    }
    color: $color-sub;
}

strong {
    color: $color-sub;
}