$font-main: 'Noto Sans KR';
$font-sub: 'D2Coding';

$font-6_5rem: 6.5rem;
$font-5rem: 5rem;
$font-4rem: 4rem;
$font-2_6rem: 2.6rem;
$font-2rem: 2rem;
$font-1_6rem: 1.6rem;
$font-1_4rem: 1.4rem;


$color-main: #41414c;
$color-sub: #00adef;
$color-point: #f38518;
$color-white: #fff;
$color-black: #000;
$color-gray: #eaeaea;

$width-full: 100vw;
$width-mobile: calc(100vw - 10px);

$height-full: 100vh;

$break-tablet: 768px;
$break-pc: 1200px;