@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Song Myung';
  font-size: 10px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-weight: normal;
  font-size: 3.5rem;
}

section {
  margin-bottom: 100px;
}

strong {
  font-weight: normal;
  font-size: 2rem;
}

.notice {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 300px;
  height: 200px;
  z-index: 200;
  background-color: aqua;
}

.notice p {
  padding: 70px 10px;
  font-size: 1.6rem;
  text-align: center;
}

.notice span {
  position: absolute;
  right: 20px;
  bottom: 0px;
  display: inline-block;
  cursor: pointer;
  font-size: 5rem;
}

.confix {
  position: relative;
  width: 1080px;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;
}

@media only screen and (max-width: 1079px) {
  .confix {
    width: calc(100% - 10px);
    min-width: 320px;
  }
}

.vBox::after, .vBox::before {
  display: block;
  content: '';
  clear: both;
}

.wrap {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  margin-bottom: 25px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 100;
  background-color: #fff;
}

header h1 {
  width: 202px;
  padding-top: 25px;
  float: left;
}

header h1 img {
  width: 100%;
}

header nav {
  position: absolute;
  bottom: 9px;
  left: 420px;
}

header nav .gnb li {
  font-family: 'Noto Sans KR';
  font-size: 2rem;
  font-weight: 900;
  float: left;
  margin-right: 15px;
  padding-right: 15px;
  line-height: 18px;
  border-right: 1px solid black;
}

header nav .gnb li:last-child {
  border-right: none;
}

header nav .gnb li a:hover {
  color: #efaa6a;
}

header .contact {
  position: absolute;
  right: 0;
  bottom: 0;
  float: right;
  text-align: center;
  font-size: 2rem;
}

header .contact strong {
  display: block;
  margin-top: 1.8rem;
  font-size: 3rem;
}

@media only screen and (max-width: 1079px) {
  header nav {
    left: auto;
    right: 0;
  }
  header .contact {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  header {
    height: 80px;
  }
  header h1 {
    padding-top: 10px;
    width: 100px;
  }
  header .mobileMenuBtn {
    position: fixed;
    right: 10px;
    top: 17px;
    width: 30px;
    height: 27px;
    z-index: 200;
    cursor: pointer;
  }
  header .mobileMenuBtn span {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 3px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #000;
  }
  header .mobileMenuBtn span:first-child {
    top: 0;
  }
  header .mobileMenuBtn span:nth-child(2) {
    top: 10px;
  }
  header .mobileMenuBtn span:nth-child(3) {
    top: 20px;
  }
  header nav {
    position: fixed;
    top: 0;
    left: -1000px;
    width: calc(100vw - 70px);
    height: 100vh;
    padding: 10px 0 0 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 200;
    background-color: #fff;
  }
  header nav .gnb li {
    float: none;
    margin-bottom: 40px;
    border: none;
  }
}

@media only screen and (max-width: 767px) and (max-width: 767px) {
  header nav .gnb li:nth-child(4) {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  header .mobileMenuBg {
    width: 100vw;
    height: 0vh;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-width: 767px) {
  main h2 {
    font-size: 3rem;
  }
}

main article {
  margin: 150px 0 100px 0;
}

@media only screen and (max-width: 767px) {
  main article {
    margin: 80px 0 80px 0;
  }
}

main article img {
  width: 100%;
}

main article img:last-child {
  display: none;
}

@media only screen and (max-width: 767px) {
  main article img:last-child {
    display: block;
  }
  main article img:first-child {
    display: none;
  }
}

main .support {
  text-align: center;
}

main .support strong {
  font-size: 2rem;
}

main .support img {
  width: 100%;
}

main .support img:last-child {
  display: none;
}

@media only screen and (max-width: 767px) {
  main .support img:last-child {
    display: block;
  }
  main .support img:first-child {
    display: none;
  }
  main .support img:nth-child(3) {
    display: none;
  }
}

main .whyBacksojeung {
  width: 100%;
}

main .whyBacksojeung .whyTitle {
  height: 300px;
  margin-bottom: 100px;
  padding-top: 110px;
  text-align: center;
  color: #fff;
  background-color: #594838;
}

@media only screen and (max-width: 767px) {
  main .whyBacksojeung .whyTitle {
    height: 200px;
    padding: 45px 10px;
  }
  main .whyBacksojeung .whyTitle h2 {
    margin-bottom: 10px;
  }
}

main .whyBacksojeung .whyTitle h2 {
  font-weight: normal;
}

main .whyBacksojeung .compete h3, main .whyBacksojeung .responsibility h3 {
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  main .whyBacksojeung .compete h3, main .whyBacksojeung .responsibility h3 {
    font-size: 2.6rem;
    text-align: center;
    color: #efaa6a;
  }
}

main .whyBacksojeung .compete ul, main .whyBacksojeung .responsibility ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

@media only screen and (max-width: 767px) {
  main .whyBacksojeung .compete ul, main .whyBacksojeung .responsibility ul {
    display: block;
  }
}

main .whyBacksojeung .compete ul li, main .whyBacksojeung .responsibility ul li {
  width: 32%;
}

@media only screen and (max-width: 767px) {
  main .whyBacksojeung .compete ul li, main .whyBacksojeung .responsibility ul li {
    width: 100%;
    margin-bottom: 30px;
  }
}

main .whyBacksojeung .compete ul li .whyIcon, main .whyBacksojeung .responsibility ul li .whyIcon {
  position: relative;
  width: 213px;
  height: 213px;
  margin: 0 auto;
  margin-bottom: 10px;
}

main .whyBacksojeung .compete ul li .whyIcon img, main .whyBacksojeung .responsibility ul li .whyIcon img {
  position: absolute;
}

main .whyBacksojeung .compete ul li .whyIcon img:first-child, main .whyBacksojeung .responsibility ul li .whyIcon img:first-child {
  width: 100%;
  opacity: 0.3;
}

main .whyBacksojeung .compete ul li .whyIcon img:last-child, main .whyBacksojeung .responsibility ul li .whyIcon img:last-child {
  width: 65%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .whyBacksojeung .compete ul li .subHeading, main .whyBacksojeung .responsibility ul li .subHeading {
  width: 100%;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 40px;
}

main .whyBacksojeung .compete ul li .subHeading strong, main .whyBacksojeung .responsibility ul li .subHeading strong {
  font-size: 2.6rem;
}

main .whyBacksojeung .compete ul li p, main .whyBacksojeung .responsibility ul li p {
  font-size: 1.8rem;
  text-align: center;
}

main .whyBacksojeung .identity {
  position: relative;
}

@media only screen and (max-width: 767px) {
  main .whyBacksojeung .identity {
    display: none;
  }
}

main .whyBacksojeung .identity ul {
  position: relative;
  width: 505px;
  height: 435px;
  margin: 0 auto;
}

main .whyBacksojeung .identity ul li {
  position: absolute;
  width: 197px;
  height: 171px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .whyBacksojeung .identity ul li .hexagonBg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 101px;
  height: 171px;
  opacity: 0.6;
  background-color: #594838;
}

main .whyBacksojeung .identity ul li .hexagonBg::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  background-color: #594838;
}

main .whyBacksojeung .identity ul li .hexagonBg::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  background-color: #594838;
}

main .whyBacksojeung .identity ul li img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  cursor: pointer;
}

main .whyBacksojeung .identity ul li .identityText {
  display: none;
}

main .whyBacksojeung .identity ul li:nth-child(1) {
  top: 0;
  left: 0;
}

main .whyBacksojeung .identity ul li:nth-child(2) {
  top: 0;
  right: 0;
}

main .whyBacksojeung .identity ul li:nth-child(3) {
  top: 177px;
  left: 0;
}

main .whyBacksojeung .identity ul li:nth-child(4) {
  top: 177px;
  right: 0;
}

main .whyBacksojeung .identity ul li:nth-child(5) {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .whyBacksojeung .identity ul li:nth-child(6) {
  top: 47px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 256px;
  height: 256px;
}

main .whyBacksojeung .identity ul li:nth-child(6) .hexagonBg {
  width: 150px;
  height: 257px;
}

main .whyBacksojeung .viewText {
  text-align: center;
  margin-top: 40px;
}

main .whyBacksojeung .viewText h4 {
  font-weight: normal;
  font-size: 5rem;
  color: #594838;
}

main .whyBacksojeung .viewText span {
  font-size: 2.6rem;
}

main .whyBacksojeung .viewText p {
  margin-top: 10px;
  font-size: 2rem;
}

main .backsojeungMenu {
  text-align: center;
}

main .backsojeungMenu .menuCategory {
  position: relative;
  width: 100%;
  height: 452px;
  margin-top: 50px;
  color: #fff;
  background: url(../images/menuBg.jpg) no-repeat top center;
}

main .backsojeungMenu .menuCategory h3 {
  display: inline-block;
  margin-top: 70px;
  padding-bottom: 10px;
  font-size: 5rem;
  border-bottom: 3px solid #fff;
}

@media only screen and (max-width: 767px) {
  main .backsojeungMenu .menuCategory h3 {
    margin-top: 20px;
  }
}

main .backsojeungMenu .menuCategory span {
  display: block;
  font-size: 2.6rem;
}

main .backsojeungMenu .menuCategory ul {
  position: absolute;
  left: 50%;
  bottom: 75px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 600px;
}

@media only screen and (max-width: 767px) {
  main .backsojeungMenu .menuCategory ul {
    width: 120px;
  }
}

main .backsojeungMenu .menuCategory ul li {
  float: left;
  width: 120px;
  padding: 3px 0;
  font-size: 2.6rem;
  cursor: pointer;
  border: 1px solid #fff;
}

main .backsojeungMenu .menuCategory ul li:not(:last-child) {
  border-right: none;
}

main .backsojeungMenu .menuCategory ul li.selectCategory {
  color: #000;
  background-color: #fff;
}

@media only screen and (max-width: 767px) {
  main .backsojeungMenu .menuCategory ul li {
    float: none;
  }
  main .backsojeungMenu .menuCategory ul li:not(:last-child) {
    border-right: 1px solid #fff;
    border-bottom: none;
  }
}

main .backsojeungMenu section {
  width: 880px;
  margin: 20px auto 0;
  display: none;
}

main .backsojeungMenu section.selectMenu {
  display: block;
}

main .backsojeungMenu section:last-child img {
  width: 400px;
}

@media only screen and (max-width: 1079px) {
  main .backsojeungMenu section:last-child img {
    width: 300px;
  }
}

main .backsojeungMenu section ul li {
  height: 320px;
}

main .backsojeungMenu section ul li img {
  float: left;
  width: 300px;
}

main .backsojeungMenu section ul li .menuText {
  float: right;
  text-align: left;
}

main .backsojeungMenu section ul li .menuText h4 {
  margin-top: 70px;
  font-size: 5rem;
  font-weight: normal;
  color: #594838;
}

main .backsojeungMenu section ul li .menuText p {
  font-size: 1.6rem;
}

@media only screen and (max-width: 1079px) {
  main .backsojeungMenu section ul li .menuText {
    max-width: 435px;
  }
  main .backsojeungMenu section ul li .menuText h4 {
    margin-top: 20px;
    font-size: 3rem;
    margin-bottom: 10px;
  }
}

main .backsojeungMenu section ul li:nth-child(even) img {
  float: right;
}

main .backsojeungMenu section ul li:nth-child(even) .menuText {
  float: left;
}

@media only screen and (max-width: 767px) {
  main .backsojeungMenu section ul li {
    text-align: center;
    height: 450px;
  }
  main .backsojeungMenu section ul li img {
    float: none;
  }
  main .backsojeungMenu section ul li .menuText {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
  main .backsojeungMenu section ul li:nth-child(even) img {
    float: none;
  }
  main .backsojeungMenu section ul li:nth-child(even) .menuText {
    float: none;
  }
}

@media only screen and (max-width: 1079px) {
  main .backsojeungMenu section {
    width: 100%;
  }
}

main .revenueCalc {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  main .revenueCalc {
    display: none;
  }
}

main .revenueCalc .calc {
  position: relative;
  width: 880px;
  height: 500px;
  margin: 50px auto 0;
  text-align: left;
  border-radius: 30px;
  overflow: hidden;
  color: #fff;
  background-color: #594838;
}

@media only screen and (max-width: 1079px) {
  main .revenueCalc .calc {
    width: 100%;
  }
}

main .revenueCalc .calc .textCalc {
  display: block;
}

main .revenueCalc .calc .testStart {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50px;
  width: 70%;
  font-size: 3rem;
}

@media only screen and (max-width: 1079px) {
  main .revenueCalc .calc .testStart {
    width: 85%;
  }
}

main .revenueCalc .calc .testStart label {
  display: block;
  width: 100%;
  height: 50px;
}

main .revenueCalc .calc .testStart label select {
  float: right;
  width: 150px;
  height: 30px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
}

main .revenueCalc .calc .testStart button {
  width: 240px;
  height: 50px;
  margin-top: 30px;
  border-radius: 25px;
  font-family: 'Song Myung';
  font-size: 3rem;
  cursor: pointer;
  -webkit-box-shadow: 7px 10px 0px black;
          box-shadow: 7px 10px 0px black;
  color: #fff;
  background-color: #efaa6a;
}

main .revenueCalc .calc .testEnd {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  font-size: 3rem;
}

main .revenueCalc .calc .testEnd p {
  margin-bottom: 30px;
}

main .revenueCalc .calc .testEnd label {
  width: 300px;
  display: block;
  height: 50px;
}

main .revenueCalc .calc .testEnd input {
  float: right;
  height: 40px;
  text-align: center;
}

main .revenueCalc .calc .testEnd img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: -10;
}

main .revenueCalc .calc .testEnd button {
  width: 240px;
  height: 50px;
  margin-top: 30px;
  -webkit-box-shadow: 7px 10px 0px black;
          box-shadow: 7px 10px 0px black;
  font-size: 3rem;
  font-family: 'Song Myung';
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  background-color: #efaa6a;
}

main .revenueCalc .calc strong {
  display: block;
  margin: 130px 0 0 40px;
  font-size: 4rem;
}

main .revenueCalc .calc span {
  display: inline-block;
  width: 240px;
  height: 50px;
  margin: 120px 0 0 65px;
  line-height: 50px;
  font-size: 3rem;
  text-align: center;
  -webkit-box-shadow: 7px 10px 0px black;
          box-shadow: 7px 10px 0px black;
  cursor: pointer;
  border-radius: 25px;
  background-color: #efaa6a;
}

main .revenueCalc .calc img {
  position: absolute;
  right: -40px;
  bottom: -20px;
  width: 450px;
  opacity: 0.6;
}

main .openingCost {
  width: 880px;
  margin: 0 auto 100px;
}

@media only screen and (max-width: 1079px) {
  main .openingCost {
    width: 100%;
  }
}

main .openingCost h2 {
  text-align: center;
  margin-bottom: 70px;
}

@media only screen and (max-width: 767px) {
  main .openingCost h2 {
    margin-top: 70px;
  }
}

main .openingCost span {
  font-family: 'Noto Sans KR';
  font-size: 1.6rem;
  font-weight: bold;
}

main .openingCost table {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  border-collapse: collapse;
}

main .openingCost table caption {
  display: none;
}

main .openingCost table thead, main .openingCost table tfoot {
  color: #fff;
  background-color: #594838;
}

main .openingCost table tr th, main .openingCost table tr td {
  font-family: 'Noto Sans KR';
  font-size: 2rem;
  font-weight: normal;
  border: 1px solid #594838;
}

@media only screen and (max-width: 767px) {
  main .openingCost table tr th, main .openingCost table tr td {
    font-size: 1.6rem;
  }
}

main .openingCost table tr th:first-child, main .openingCost table tr td:first-child {
  border-left: none;
}

main .openingCost table tr th:last-child, main .openingCost table tr td:last-child {
  border-right: none;
}

main .openingCost table tr th, main .openingCost table tr th td {
  padding: 10px 0;
}

main .openingCost table tr th:first-child {
  width: 270px;
}

@media only screen and (max-width: 767px) {
  main .openingCost table tr th:first-child {
    width: 180px;
  }
}

main .joinUs {
  position: relative;
  width: 800px;
  height: 272px;
  margin: 0 auto;
}

@media only screen and (max-width: 1079px) {
  main .joinUs {
    width: 700px;
  }
}

@media only screen and (max-width: 767px) {
  main .joinUs {
    width: 100%;
    height: 200px;
    text-align: center;
  }
}

main .joinUs span {
  position: absolute;
  top: 100px;
  display: inline-block;
  font-size: 5rem;
  font-weight: bold;
}

main .joinUs span:first-child {
  left: 0;
}

main .joinUs span:nth-child(3) {
  display: none;
}

@media only screen and (max-width: 767px) {
  main .joinUs span:nth-child(3) {
    display: block;
  }
}

main .joinUs span:last-child {
  right: 0;
}

@media only screen and (max-width: 767px) {
  main .joinUs span {
    position: static;
  }
}

main .joinUs img {
  position: absolute;
  width: 370px;
  left: 115px;
}

@media only screen and (max-width: 1079px) {
  main .joinUs img {
    width: 300px;
    left: 100px;
  }
}

@media only screen and (max-width: 767px) {
  main .joinUs img {
    display: none;
  }
}

footer {
  width: 100%;
  min-width: 1080px;
  height: 300px;
  line-height: 30px;
  margin-top: 100px;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  background-color: #594838;
}

@media only screen and (max-width: 1079px) {
  footer {
    min-width: 0;
  }
}

@media only screen and (max-width: 767px) {
  footer {
    height: 400px;
  }
}

footer a {
  margin-top: 30px;
}

footer a img {
  width: 190px;
}

footer span {
  display: block;
}

footer span.copy {
  margin-top: 20px;
}

footer address {
  font-style: normal;
}
