@import 'style.scss';
@import 'reset.scss';
@import 'mixin.scss';

$break-mobile: 768px;
$break-tablet: 1080px;

@mixin reponsive($break) {
    @if $break == 768px {
        @media only screen and (max-width: $break-mobile - 1) {
            @content;
        }
    }

    @else if $break == 1080px {
        @media only screen and (max-width: $break-tablet - 1) {
            @content;
        }
    }
}

.notice {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 300px;
    height: 200px;
    z-index: 200;
    background-color: aqua;
    p {
        padding: 70px 10px;
        font-size: 1.6rem;
        text-align: center;
    }
    span {
        position: absolute;
        right: 20px;
        bottom: 0px;
        display: inline-block;
        cursor: pointer;
        font-size: 5rem;
    }
}

// 1080px 12컬럼 그리드시스템
.confix {
    position: relative;
    width: 1080px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
    @include reponsive(1080px) {
        width: calc(100% - 10px);
        min-width: 320px;
    }
}

.vBox::after, .vBox::before {
    display: block;
    content: '';
    clear: both;
}

.wrap {
    width: 100%;
}

// header area
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    margin-bottom: 25px;
    transition: opacity 0.3s;
    z-index: 100;
    background-color: $color-white;
    h1 {
        width: 202px;
        padding-top: 25px;
        float: left;
        img {
            width: 100%;
        }
    }

    nav {
        position: absolute;
        bottom: 9px;
        left: 420px;

        .gnb {
            li {
                font: {
                    family: 'Noto Sans KR';
                    size: 2rem;
                    weight: 900;
                }
                float: left;
                margin-right: 15px;
                padding-right: 15px;
                line-height: 18px;
                border-right: 1px solid black;

                &:last-child {
                    border-right: none;
                }
                
                a:hover {
                    color: $color-sub;
                }
            }
        }
    }
    .contact {
        position: absolute;
        right: 0;
        bottom: 0;
        float: right;
        text-align: center;
        font-size: 2rem;

        strong {
            display: block;
            margin-top: 1.8rem;
            font-size: 3rem;
        }
    }

    @include reponsive(1080px) {
        nav {
            left: auto;
            right: 0;
        }

        .contact {
            display: none;
        }
    }
    @include reponsive(768px) {
        height: 80px;

        h1 {
            padding-top: 10px;
            width: 100px;
        }

        .mobileMenuBtn {
            position: fixed;
            right: 10px;
            top: 17px;
            width: 30px;
            height: 27px;
            z-index: 200;
            cursor: pointer;
            span {
                position: absolute;
                display: inline-block;
                width: 30px;
                height: 3px;
                transition: all 0.5s;
                background-color: #000;

                &:first-child {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 10px;
                }

                &:nth-child(3) {
                    top: 20px;
                }
            }
        }

        nav {
            position: fixed;
            top: 0;
            left: -1000px;
            width: calc(100vw - 70px);
            height: 100vh;
            padding: 10px 0 0 10px;
            transition: all 0.5s;
            z-index: 200;
            background-color: $color-white;
    
            .gnb {
                li {
                    float: none;
                    margin-bottom: 40px;
                    border: none;
                    @include reponsive(768) {
                        &:nth-child(4) {
                            display: none;
                        }
                    }
                }
            }
        }

        .mobileMenuBg {
            width: 100vw;
            height: 100vh;
            opacity: 0;
            transition: all 0.5s;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}


// main
main {

    h2 {
        @include reponsive(768) {
            font-size: 3rem;
        }
    }
    article {
        margin: 150px 0 100px 0;

        @include reponsive(768) {
            margin: 80px 0 80px 0;
        }
        img {
            width: 100%;
            &:last-child {
                display: none;
            }

            @include reponsive(768) {
                @include imgChange;
            }
        }
    }

    .support {
        text-align: center;

        strong {
            font-size: 2rem;
        }
        
        img {
            width: 100%;

            &:last-child {
                display: none;
            }
            @include reponsive(768) {
                @include imgChange;
                &:nth-child(3) {
                    display: none;
                }
            }
        }
    }

    .whyBacksojeung {
        width: 100%;

        .whyTitle {
            height: 300px;
            margin-bottom: 100px;
            padding-top: 110px;
            text-align: center;
            color: $color-white;
            background-color: $color-main;

            @include reponsive(768) {
                height: 200px;
                padding: 45px 10px;

                h2 {
                    margin-bottom: 10px;
                }
            }

            h2 {
                font-weight: normal;
            }
        }

        .compete, .responsibility {
            h3 {
                margin-bottom: 40px;

                @include reponsive(768) {
                    font-size: 2.6rem;
                    text-align: center;
                    color: $color-sub;
                }
            }

            ul {
                display: flex;
                justify-content: space-between;
                margin-bottom: 100px;

                @include reponsive(768) {
                    display: block;
                }
                li {
                    width: 32%;

                    @include reponsive(768) {
                        width: 100%;
                        margin-bottom: 30px;
                    }

                    .whyIcon {
                        position: relative;
                        width: 213px;
                        height: 213px;
                        margin: 0 auto;
                        margin-bottom: 10px;
                        img {
                            position: absolute;
                            &:first-child {
                                width: 100%;
                                opacity: 0.3;
                            }
                            &:last-child {
                                width: 65%;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                    .subHeading {
                        width: 100%;
                        font-size: 2.6rem;
                        text-align: center;
                        margin-bottom: 40px;
                        strong {
                            font-size: 2.6rem;
                        }
                    }
                    p {
                        font-size: 1.8rem;
                        text-align: center;
                    }
                }
            }
        }

        .identity {
            position: relative;

            @include reponsive(768) {
                display: none;
            }
            ul {
                position: relative;
                width: 505px;
                height: 435px;
                margin: 0 auto;

                li {
                    position: absolute;
                    width: 197px;
                    height: 171px;
                    transition: all 0.5s;

                    .hexagonBg {
                        @include positionCenter;
                        width: 101px;
                        height: 171px;
                        opacity: 0.6;
                        background-color: $color-main;
                
                        &::before {
                           @include vHexagon(60deg);
                        }

                        &::after {
                            @include vHexagon(-60deg);
                        }
                    }

                    img {
                        @include positionCenter;
                        width: 60%;
                        cursor: pointer;
                    }

                    .identityText {
                        display: none;
                    }

                    &:nth-child(1) {
                        top: 0;
                        left: 0;
                    }

                    &:nth-child(2) {
                        top: 0;
                        right: 0;
                    }

                    &:nth-child(3) {
                        top: 177px;
                        left: 0;
                    }

                    &:nth-child(4) {
                        top: 177px;
                        right: 0;
                    }

                    &:nth-child(5) {
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);    
                    }

                    &:nth-child(6) {
                        top: 47px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 256px;
                        height: 256px;

                        .hexagonBg {
                            width: 150px;
                            height: 257px;
                        }
                    }
                }
            }
        }

        .viewText {
            text-align: center;
            margin-top: 40px;

            h4 {
                font: {
                    weight: normal;
                    size: 5rem;
                }
                color: $color-main;
            }

            span {
                font-size: 2.6rem;
            }

            p {
                margin-top: 10px;
                font-size: 2rem;
            }
        }
    }

    .backsojeungMenu {
        text-align: center;

        .menuCategory {
            position: relative;
            width: 100%;
            height: 452px;
            margin-top: 50px;
            color: $color-white;
            background: url(../images/menuBg.jpg) no-repeat top center;

            h3 {
                display: inline-block;
                margin-top: 70px;
                padding-bottom: 10px;
                font-size: 5rem;
                border-bottom: 3px solid $color-white;

                @include reponsive(768) {
                    margin-top: 20px;
                }
            }

            span {
                display: block;
                font-size: 2.6rem;
            }

            ul {
                position: absolute;
                left: 50%;
                bottom: 75px;
                transform: translateX(-50%);
                width: 600px;

                @include reponsive(768) {
                    width: 120px;
                }

                li {
                    float: left;
                    width: 120px;
                    padding: 3px 0;
                    font-size: 2.6rem;
                    cursor: pointer;
                    border: 1px solid $color-white;
                    
                    &:not(:last-child) {
                        border-right: none;
                    }
                    
                    &.selectCategory {
                        color: #000;
                        background-color: $color-white;
                    }

                    @include reponsive(768) {
                        float: none;

                        &:not(:last-child) {
                            border-right: 1px solid $color-white;
                            border-bottom: none;
                        }
                        
                    }
                }
            }
        }

        section {
            width: 880px;
            margin: 20px auto 0;
            display: none;

            &.selectMenu {
                display: block;
            }

            &:last-child {
                img {
                    width: 400px;
                    @include reponsive(1080) {
                        width: 300px;
                    }
                }
            }

            ul {
                li {
                    height: 320px;
                    img {
                        float: left;
                        width: 300px;
                    }

                    .menuText {
                        float: right;
                        text-align: left;

                        h4 {
                            margin-top: 70px;
                            font: {
                                size: 5rem;
                                weight: normal;
                            }
                            color: $color-main;
                        }

                        p {
                            font-size: 1.6rem;
                        }

                        @include reponsive(1080) {
                            max-width: 435px;

                            h4 {
                                margin-top: 20px;
                                font-size: 3rem;
                                margin-bottom: 10px;
                            }
                        }
                    }
                    
                    &:nth-child(even) {
                        img {
                            float: right;
                        }

                        .menuText {
                            float: left;
                        }

                    }

                    @include reponsive(768) {
                        text-align: center;
                        height: 450px;
                        img {
                            float: none;
                        }

                        .menuText {
                            float: none;
                            margin: 0 auto;
                            width: 100%;
                        }

                        &:nth-child(even) {
                            img {
                                float: none;
                            }
    
                            .menuText {
                                float: none;
                            }
    
                        }
                    }
                    
                }
            }

            @include reponsive(1080px) {
                width: 100%;
            }
        }
    }

    .revenueCalc {
        text-align: center;

        @include reponsive(768) {
            display: none;
        }

        .calc {
            position: relative;
            width: 880px;
            height: 500px;
            margin: 50px auto 0;
            text-align: left;
            border-radius: 30px;
            overflow: hidden;
            color: $color-white;
            background-color: $color-main;
            @include reponsive(1080) {
                width: 100%;
            }

            .textCalc {
                display: block;
            }

            .testStart {
                display: none;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 50px;
                width: 70%;
                font-size: 3rem;

                @include reponsive(1080) {
                    width: 85%;
                }

                label {
                    display: block;
                    width: 100%;
                    height: 50px;

                    select {
                        float: right;
                        width: 150px;
                        height: 30px;
                        font: {
                            size: 1.6rem;
                            weight: bold;
                        }
                        text-align: center;
                        border: none;
                        border-radius: 5px;
                    }
                }

                button {
                    width: 240px;
                    height: 50px;
                    margin-top: 30px;
                    border-radius: 25px;
                    font: {
                        family: 'Song Myung';
                        size: 3rem;
                    }
                    cursor: pointer;
                    box-shadow: 7px 10px 0px black;
                    color: $color-white;
                    background-color: $color-sub;
                }
            }

            .testEnd {
                display: none;
                @include positionCenter;
                width: 600px;
                font: {
                    size: 3rem
                }

                p {
                    margin-bottom: 30px;
                }

                label {
                    width: 300px;
                    display: block;
                    height: 50px;
                }

                input {
                    float: right;
                    height: 40px;
                    text-align: center
                }
                
                img {
                    @include positionCenter;
                    opacity: 0.2;
                    z-index: -10;
                
                }

                button {
                    width: 240px;
                    height: 50px;
                    margin-top: 30px;
                    box-shadow: 7px 10px 0px black;
                    font: {
                        size: 3rem;
                        family: 'Song Myung';
                    }
                    color: $color-white;
                    cursor: pointer;
                    border-radius: 25px;
                    background-color: #efaa6a;
                }
            }

            strong {
                display: block;
                margin: 130px 0 0 40px;
                font-size: 4rem;
            }

            span {
                display: inline-block;
                width: 240px;
                height: 50px;
                margin: 120px 0 0 65px;
                line-height: 50px;
                font-size: 3rem;
                text-align: center;
                box-shadow: 7px 10px 0px black;
                cursor: pointer;
                border-radius: 25px;
                background-color: #efaa6a;
            }

            img {
                position: absolute;
                right: -40px;
                bottom: -20px;
                width: 450px;
                opacity: 0.6;
            }
        }
    }

    .openingCost {
        width: 880px;
        margin: 0 auto 100px;
        @include reponsive(1080) {
            width: 100%;
        }

        h2{
            text-align: center;
            margin-bottom: 70px;
            @include reponsive(768) {
                margin-top: 70px;
            }
        }   

        span {
            font: {
                family: 'Noto Sans KR';
                size: 1.6rem;
                weight: bold;
            }
        }

        table {
            width: 100%;
            text-align: center;
            margin-top: 25px;
            border-collapse: collapse;

            caption {
                display: none;
            }

            thead, tfoot {
                color: $color-white;
                background-color: $color-main;
            }

            tr {
                th, td {
                    font: {
                        family: 'Noto Sans KR';
                        size: 2rem;
                        weight: normal;
                    }
                    border: 1px solid $color-main;

                    @include reponsive(768) {
                        font-size: 1.6rem;
                    }
                    &:first-child {
                        border-left: none;
                    }

                    &:last-child {
                        border-right: none;
                    }
                }


                
                th {

                    &, td {
                        padding: 10px 0;
                    }
                    &:first-child {
                        width: 270px;

                        @include reponsive(768) {
                            width: 180px;
                        }
                    }
                }
            }
        }
    }

    .joinUs {
        position: relative;
        width: 800px;
        height: 272px;
        margin: 0 auto;
        
        @include reponsive(1080) {
            width: 700px;
        }

        @include reponsive(768) {
            width: 100%;
            height: 200px;
            text-align: center;
        }
        span {
            position: absolute;
            top: 100px;
            display: inline-block;
            font: {
                size: 5rem;
                weight: bold;
            }

            &:first-child {
                left: 0;
            }

            &:nth-child(3) {
                display: none;

                @include reponsive(768) {
                    display: block;
                }
            }

            &:last-child {
                right: 0;
            }

            @include reponsive(768) {
                position: static;
            }
        }
        img {
            position: absolute;
            width: 370px;
            left: 115px;

            @include reponsive(1080) {
                width: 300px;
                left: 100px;
            }

            @include reponsive(768) {
                display: none;
            }
        }
    }
}


// footer
footer {
    width: 100%;
    min-width: 1080px;
    height: 300px;
    line-height: 30px;
    margin-top: 100px;
    font-size: 1.6rem;
    text-align: center;
    color: $color-white;
    background-color: $color-main;
    @include reponsive(1080) {
        min-width: 0;
    }

    @include reponsive(768) {
        height: 400px;
    }

    a {
        margin-top: 30px;
        img {
            width: 190px;
        }
    }

    span {
        display: block;

        &.copy {
            margin-top: 20px;
        }
    }

    address {
        font-style: normal;
    }
}