@mixin positionCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin vHexagon($deg) {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    transform: rotate($deg);
    background-color: $color-main;
}

@mixin imgChange {
    &:last-child {
        display: block;
    }
    &:first-child {
        display: none;
    }
}