@charset "utf-8";

.wrap {
    width: 100%;
}


/* 1320px 12컬럼 그리드시스템 */
.confix {
    position: relative;
    width: 83.54430379746835%;
    max-width: 1320px;
    min-width: 1060px;
    height: auto;
    margin: 0 auto;
    padding: 0 1.136363636363636%;
}


/* float 해제 가상박스 */
.vBox::after, .vBox::before {
    content: '';
    display: block;
    clear: both;
}


/* 드래그 방지 */
.noDrag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}





/* ====================header area==================== */
header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 174px;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.6) 33px,
            rgba(0, 0, 0, 0) 34px,
            rgba(0, 0, 0, 0.6) 35px,
            rgba(0, 0, 0, 0.0) 100%
          ); 
    z-index: 2;
    transition: top 0.5s;
}

.siteJoin {
    position: relative;
    width: 100%;
    height: 33px;
    margin-bottom: 5px;
}

.siteJoin ul {
    float: right;
    width: 123px;
    margin-top: 10px;
}

.siteJoin ul li {
    float: left;
}

.siteJoin ul li a {
    font-size: 1.3rem;
    padding: 0 18px;
    line-height: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.siteJoin ul li:first-child a {
    padding-left: 0;
}

.siteJoin ul li:last-child a {
    padding-right: 0;
    border-right: none;
}

.logoMenu {
    position: relative;
    width: 100%;
}

.logoMenu h1 {
    float: left;
}

.logoMenu h1 img {
    width: 160px;
}

.logoMenu h1 a:nth-child(2) {
    display: none;
}

.headerMenu {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
}

.headerMenu .gnb {
    display: flex;
    justify-content: space-between;
}

.headerMenu .gnb a {
    font-family: 'GyeonggiTitle';
    font-size: 2rem;
    font-weight: 400;
}

.headerMenu li {
    float: left;
    text-align: center;
    font-size: 2.4rem;
}

.headMenuBtn {
    display: none;
    float: right;
    width: 22px;
    margin-top: 22px;
    cursor: pointer;
}

.headMenuBtn span {
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 7px;
    background-color: #d0cfd0;
}

.langBtn {
    position: relative;
    float: right;
    width: 61px;
    height: 25px;
    line-height: 25px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #f0e9ea;
    background: none;
}

.langBtn span {
    font-size: 1.3rem;
}

.langBtn .kor {
    position: absolute;
    left: 8px;
    opacity: 1;
    transition: opacity 0.5s;
}

.langBtn .eng {
    position: absolute;
    right: 8px;
    opacity: 0;
    transition: opacity 0.5s;
}

.togleBtn {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: transform 0.5s;
    border: none;
    background-color: #f0e9ea;
}


/* ====================main area==================== */
main {
    width: 100%;
}

main h2 {
    line-height: normal;
}

.slideBanner {
    position: relative;
    width: 100%;
    height: 665px;
    z-index: 1;
    margin-bottom: 136px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/banner_1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.backBlur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

.slideArea {
    position: absolute;
    bottom: 0;
    padding-top: 50px;
    width: 100%;
    height: 36%;
    background-color: #4d2378;
}

.slideOverflow {
    position: relative;
    bottom: 100px;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slideList {
    position: absolute;
    left: 0;
    width: 200%;
    transition: all 1s;
}

.slideList li { 
    width: 12%;
    max-width: 200px;
    float: left;
    margin-right: 3%;
    padding-top: 100px;
    transition: all 1s;
}

.slideList li:last-child {
    margin-right: 0;
}

.slideList li img {
    width: 100%;
}

.slideBar {
    position: absolute;
    top: -100px;
    right: 30px;
    width: 200px;
}

.slideStickBg {
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 3px;
    background-color: #fff;
}

.slideStick {
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: #01aded;
    transition: left 0.5s;
}

.slideBtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.menuList {
    margin-top: 30px;
    font-size: 1.4rem;
}

/* ========== 이곳에 메인영역 css 작성해주세요 ========== */

.exhidbition {
    margin-bottom: 145px;
}

.exhidbitionText {
    position: relative;
    float: left;
    width: 60%;
}

.exhidbitionText h2 {
    font-size: 4.5rem;
    margin: 10px 0 28px 0 ;
}

.headText {
    margin-bottom: 45px;
}

.audioGuide {
    position: absolute;
    right: -40px;
    top: 0;
    width: 100px;
    text-align: center;
}

.audioIcon {
    width: 100%;
    margin-bottom: 8px;
    line-height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.audioIcon img {
    width: 75%;
    vertical-align: middle;
}

.audioGuide strong {
    font-size: 1.6rem;
    color: #ed5705;
}

.headText strong:first-child {
    font-size: 1.7rem;
    color: #01aded;
}

.exhidbitionText .dateInfo {
    font-size: 2.0rem;
}

.exhidbitionText p {
    font-size: 1.6rem;
}

.exhidbitionInfo {
    float: right;
    width: 35%;
    padding: 37px;
    font-size: 1.6rem;
    border-radius: 15px;
    background-color: #edf7fe;
}

.exhidbitionInfo h3 {
    margin-bottom: 15px;
    font-weight: 500;
}

.exhidbitionInfo li {
    margin-bottom: 43px;
}


/* ============ 작품미리보기 ============ */


.exhidbitionPreview h2 {
    margin-bottom: 25px;
}

.exhidbitionPreview ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-top: 13px;
    border-top: 1px solid #a7a7a7;
}

.exhidbitionPreview ul li {
    overflow: hidden;
    width: 23%;
    height: 22vw;
    margin-right: 2.66%;
    margin-bottom: 30px;
}

.exhidbitionPreview ul li:nth-child(4n) {
    margin-right: 0;
}

.exhidbitionPreview ul li img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}



/* ========== 이곳에 메인영역 css 작성해주세요 ========== */





/* ========== footer ========== */
footer {
    width: 100%;
    height: 200px;
    line-height: 2rem;
    margin-top: 150px;
    padding-top: 25px;
    font-size: 1.3rem;
    background-color: #202020;
}

.footLogoMenu {
    position: relative;
    height: 65px;
}

.footLogoMenu .footLogo {
    width: 190px;
    height: 65px;
}

.footLogoMenu>a {
    float: left;
    margin-right: 30px;
}

.footMenu li {
    float: left;
    line-height: 13px;
    margin-top: 28px;
    padding: 0 30px;
    border-right: 1px solid #6f6f6f;
}

.footMenu li a {
    font-weight: bold;
    color: #fff;
}

.footMenu li:first-child {
    padding-left: 0;
}

.footMenu li:last-child {
    border-right: 0;
}

.org {
    position: absolute;
    right: 0;
    bottom: 15px;
    float: right;
    width: 190px;
    height: 40px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    transition: height 0.5s;
    background-color: #202020;
}


.orgBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #6f6f6f;
    border-radius: 10px 10px 10px 10px;
    background: none;
}

.org span {
    color: #eee7e8;
}

.org span:first-child {
    padding-right: 100px;
}

.siteList {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 290px;
    border: 1px solid #6f6f6f;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.siteList li {
    padding: 15px 0 0 15px;
}

.siteList>li>a {
    color: #ddd5d7;
}

.otherSite {
    float: left;
}

.otherSite li {
    float: left;
}

.otherSite img {
    width: 80px;
    margin-right: 15px;
}

.otherSite img:last-child {
    margin-right: 28px;
}

.snsCopy .copyAddr {
    float: left;
}

.copyAddr {
    color: #686868;
}

.snsList {
    float: right;
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.sns li {
    float: left;
    margin-top: 21px;
}

.sns li img {
    width: 35px;
}



/* ===== 1080px 이하 ===== */
@media (max-width:1080px) {
    .confix {
        width: 100%;
        min-width: 0;
        padding: 0 2%;
    }    

    header {
        height: 80px;
        background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0.0) 100%
              );
    }

    .siteJoin {
        display: none;
    }

    .headerMenu {
        display: none;
    }

    .logoMenu h1 img {
        width: 50px;
        margin-top: 5px;
    }

    .logoMenu h1 a:nth-child(1) {
        display: none;
    }

    .logoMenu h1 a:nth-child(2) {
        display: block;
    }

    .langBtn {
        display: none;
    }

    .headMenuBtn {
        display: block;
    }    
    
    .logoMenu {
        padding-left: 1.111111111111111%;
    }

    .menuList {
        display: none;
    }

    .searchBox2 {
        display: none;
    }

    .slideBanner {
        height: 52vw;
    }

    .slideList li  {
        padding-top: 4%;
    }

    .exhidbitionText {
        float: none;
        width: 100%;
    }

    .audioGuide {
        right: 0;
    }

    .exhidbitionInfo {
        float: none;
        width: 100%;
    }

    .exhidbitionInfo li {
        float: left;
        width: 47%;
        margin-right: 6%;
    }

    .exhidbitionInfo li:nth-child(even) {
        margin-right: 0;
    }

    .footLogo {
        display: none;
    }

    .otherSite {
        display: none;
    }

    .org {
        width: 150px;
    }
    
    .org span:first-child {
        padding-right: 50px;
    }

    .snsList {
        width: 150px;
    }
    
}





/* ===== 768px 이하 ===== */
@media (max-width: 767px) {
    .confix {
        padding: 0 4%
    }

    .slideBanner {
        height: 300px;
        margin-bottom: 80px;
    }

    .slideList {
        min-width: 550px;
        width: 1380px;
    }

    .slideList li  {
        margin-right: 3vw;
        padding-top: 25px;
        width: 110px;
    }

    .slideOverflow {
        bottom: 60px;
        height: 400px;
        overflow: hidden;
    }

    .exhidbitionText h2 {
        font-size: 2.6rem;
    }

    .audioGuide {
        all: initial;
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 70px;
        text-align: center;
        z-index: 9999;
    }
    
    .audioIcon {
        line-height: 70px;
    }

    .audioGuide strong {
        display: none;
    }

    .exhidbitionInfo {
        padding: 20px;
    }
    .exhidbitionInfo li {
        float: none;
        width: 100%;
        margin-right: 0;
    }

    .exhidbitionPreview ul li {
        width: 49%;
        height: 45vw;
        margin-right: 2%;
        margin-bottom: 10px;
    }

    .exhidbitionPreview ul li:nth-child(even) {
        margin-right: 0;
    }

    .footLogoMenu {
        display: none;
    }

    footer {
        height: 150px;
        margin-top: 100px;
    }

    .snsCopy {
        width: 276px;
        margin: 0 auto;
    }

    .snsList {
        float: none;
    }

    .copyAddr {
        width: 276px;
        text-align: center;
        transform: translateY(60px);
    }

    .copyAddr span:first-child {
        display: none;
    }

    .snsList {
        width: 140px;
        margin: 0 auto;
        transform: translateY(-50px);
    }
}