@charset "utf-8";

.wrap {
    width: 100%;
    height: 100vh;
}

.leftBg {
    position: relative;
    float: left;
    width: 45%;
    height: 100%;
    background: url(../images/join_bg.jpg) center center / cover;
    transition: width 0.5s;
}

.mainLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainLogo img {
    width: 200px;
}

.formArea {
    position: absolute;
    right: 0;
    width: 55%;
    height: 100%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.rightForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    height: 90%;
    max-height: 750px;
    min-height: 682px;
    transition: 0.5s;
    border-radius: 15px;
    background-color: #fff;
}

.join {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 411px;
    height: 485px;
    /* border: 1px solid black; */
}

.join fieldset {
    border: none;
}

.join legend {
    font-size: 3.0rem;
    font-weight: 900;
    color: #585858;
}

.join p {
    margin-top: 13px;
    font-size: 1.4rem;
} 

.langBtn {
    position: absolute;
    right: 0;
    top: -15px;
    width: 61px;
    height: 25px;
    line-height: 25px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #a7a7a7;
    background: none;
}

.langBtn span {
    font-size: 1.3rem;
    color: #585858;
}

.langBtn .kor {
    position: absolute;
    font-weight: 900;
    left: 8px;
    opacity: 1;
    transition: opacity 0.5s;
}

.langBtn .eng {
    position: absolute;
    font-weight: 900;
    right: 8px;
    opacity: 0;
    transition: opacity 0.5s;
}

.togleBtn {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: transform 0.5s;
    border: none;
    background-color: #a7a7a7;
}

.userInfo {
    margin-top: 45px;
    margin-bottom: 35px;
}

.userInfo>li {
    margin-top: 40px;
    transition: margin 0.5s;
}

.userInfo>li:first-child {
    position: relative;
}

.userInfo>li>.userCheck {
    position: absolute;
    right: 0;
    width: 70px;
    height: 23px;
    font-family: 'GyeonggiTitle';
    font-size: 1.4rem;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #c4c8ca;
}

.userInfo input[type="text"], .userInfo input[type="password"] {
    width: 100%;
    padding-bottom: 15px;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid #a7a7a7;
}

.userInfo input::placeholder {
    color: #a7a7a7;
}

.joinCheck input {
    margin-right: 10px;
}

.joinCheck strong{
    font-size: 1.4rem;
    font-weight: 900;
    color: #585858;
}

.joinCheck span {
    display: inline-block;
    margin-left: 24px;
    font-size: 1.2rem;
}

.joinCheck a {
    float: right;
    font-size: 1.2rem;
    font-weight: 900;
}

button[type="submit"] {
    width: 100%;
    height: 58px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    font-size: 1.8rem;
    font-weight: 900;
    cursor: pointer;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #00adef;
}

.goLogin {
    float: right;
    margin-top: 16px;
}

.goLogin strong {
    font-size: 1.2rem;
}

.goLogin strong>a {
    text-decoration: none;
    margin-left: 14px;
    font-size: 1.4rem;
    font-weight: 900;
}
.snsJoin {
    margin: 65px auto;
    width: 100%;
    max-width: 251px;
    height: 90px;
    text-align: center;
    transition: margin 0.5s;
}

.snsJoin>h2 {
    margin-bottom: 14px;
    font-size: 1.4rem;
    color: #585858;
}

.snsList {
    display: flex;
    justify-content: space-between;
}


/* ===== 1080px 이하 ===== */
@media (max-width:1080px) {

    .leftBg {
        top: 0;
        left: 0;
        width: 100%;
    }

    .formArea {
        right: 50%;
        transform: translateX(50%);
        width: 100%;
    }

    .join {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        max-width: 411px;
        height: 485px;
    }
}

/* ===== 768px 이하 ===== */
@media (max-width:768px) {
    html {
        font-size: 7.5px;
    }

    .rightForm {
        height: 550px;
        min-height: 0;
    }

    .userInfo>li {
        margin-top: 20px;
    }

    .userInfo {
        margin: 10px 0 10px 0;
    }

    .snsJoin {
        margin: 20px auto ;
    }
}