@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap");
@font-face {
  font-family: 'D2Coding';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Noto Sans KR";
  font-size: 10px;
  font-weight: normal;
  scroll-behavior: smooth;
}

ul, ol, li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #41414c;
}

h1 {
  display: none;
}

h2 {
  font-size: 5rem;
  font-weight: bold;
  color: #41414c;
}

h3 {
  font-size: 2.6rem;
  color: #00adef;
}

h4 {
  font-size: 1.6rem;
  color: #00adef;
}

strong {
  color: #00adef;
}

.wrap {
  width: 100%;
  max-width: 1920px;
}

.vBox::before, .vBox::after {
  display: block;
  content: '';
  clear: both;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 55px;
  z-index: 500;
  background-color: #41414c;
}

header .personalInfo {
  display: none;
}

header .currentLocation {
  display: none;
}

header .scrollAnimation {
  display: none;
}

@media screen and (min-width: 1199px) {
  header {
    width: 384px;
    height: 100vh;
    min-height: 700px;
  }
  header .personalInfo {
    display: block;
  }
  header .currentLocation {
    display: block;
  }
  header .currentLocation strong {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  header .scrollAnimation {
    display: block;
  }
}

header .headerMenuBtn {
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 250;
  width: 30px;
  height: 25px;
  line-height: 0;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (min-width: 1199px) {
  header .headerMenuBtn {
    top: 30px;
    left: 40px;
  }
}

header .headerMenuBtn span {
  display: inline-block;
  height: 3px;
  margin-bottom: 8px;
  background-color: #fff;
}

header .headerMenuBtn span:first-child {
  width: 25px;
}

header .headerMenuBtn span:nth-child(2) {
  width: 18px;
}

header .headerMenuBtn span:last-child {
  width: 30px;
  margin-bottom: 0;
}

header .personalInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .personalInfo li {
  margin-bottom: 65px;
}

header .personalInfo li h2 {
  margin-bottom: 3px;
  font-size: 14px;
  color: #00adef;
}

header .personalInfo li strong {
  font-size: 1.6rem;
  font-weight: normal;
  color: #fff;
}

header .currentLocation {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 40px;
  line-height: 0;
}

header .currentLocation strong {
  font-size: 6.5rem;
  font-weight: bold;
  text-shadow: -2px 0 #00adef, 0 2px #00adef, 2px 0 #00adef, 0 -2px #00adef;
  color: #41414c;
}

header .scrollAnimation {
  position: absolute;
  bottom: 25px;
  right: 0;
  z-index: 2100;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 62px;
  height: 80px;
  border-radius: 31px;
  background-color: #41414c;
}

header .scrollAnimation .mouseStroke {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: -2px 0 #00adef, 0 2px #00adef, 2px 0 #00adef, 0 -2px #00adef;
          box-shadow: -2px 0 #00adef, 0 2px #00adef, 2px 0 #00adef, 0 -2px #00adef;
  display: inline-block;
  width: 35px;
  height: 58px;
  border-radius: 17px;
}

header .scrollAnimation .mouseBall {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 17px;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  background-color: #00adef;
}

header .documentOpacity {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  max-height: 1200px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 1199px) {
  header .documentOpacity {
    display: none;
  }
}

header nav {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 200;
  width: 100%;
  height: 100vh;
  max-height: 1200px;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  background-color: #41414c;
}

@media only screen and (min-width: 767px) {
  header nav {
    width: 465px;
  }
}

@media screen and (min-width: 1199px) {
  header nav {
    width: 384px;
  }
}

header nav .gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header nav .gnb li {
  margin-bottom: 20px;
}

header nav .gnb li a {
  text-shadow: -2px 0 #00adef, 0 2px #00adef, 2px 0 #00adef, 0 -2px #00adef;
  font-size: 4rem;
  font-weight: bold;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  color: #41414c;
}

@media only screen and (min-width: 767px) {
  header nav .gnb li a {
    font-size: 6.5rem;
  }
}

header nav .gnb li a:hover {
  color: #fff;
}

header nav .gnb li a.select {
  color: #fff;
}

main section {
  width: 100%;
  padding: 35px 5px;
}

@media only screen and (min-width: 767px) {
  main section {
    width: 100%;
    padding: 90px 20px 90px;
  }
  main section h2 {
    margin-bottom: 60px;
  }
}

main .home {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 55px;
}

@media screen and (min-width: 1199px) {
  main .home {
    float: right;
    width: calc(100% - 384px);
    margin: 0;
    padding: 0 9%;
  }
}

main .home h2 {
  display: none;
}

main .home .backToBottomBox {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 5%;
  width: 100%;
  max-width: 400px;
  font-size: 2rem;
}

@media only screen and (min-width: 767px) {
  main .home .backToBottomBox {
    width: 760px;
    max-width: none;
    font-size: 4rem;
  }
}

@media screen and (min-width: 1199px) {
  main .home .backToBottomBox {
    width: 60%;
    min-width: 696px;
  }
}

main .home .backToBottomBox .backToBottomBg {
  width: 100%;
  height: 100%;
}

main .home .backToBottomBox .backToBottomMain {
  padding-bottom: 5px;
}

main .home .namecardScratch {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 40%;
  width: 80%;
  min-width: 310px;
  max-width: 700px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

main .home .namecardScratch .scratchGuide {
  display: none;
}

@media screen and (min-width: 1199px) {
  main .home .namecardScratch .scratchGuide {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
    width: 350px;
    top: -40px;
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
  }
}

main .home .namecardScratch .clickGuide {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -40px;
  font-size: 1.4rem;
  font-weight: bold;
}

@media only screen and (min-width: 767px) {
  main .home .namecardScratch .clickGuide {
    font-size: 2.6rem;
  }
}

main .home .namecardScratch .namecardHide {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .home .namecardScratch .namecard {
  width: 100%;
}

main .home .namecardScratch .getCoin {
  position: absolute;
  left: 80%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80px;
}

main .introduce {
  background-color: #eaeaea;
}

@media only screen and (min-width: 767px) {
  main .introduce {
    padding-top: 90px;
  }
}

@media screen and (min-width: 1199px) {
  main .introduce {
    float: right;
    width: calc(100% - 384px);
    margin: 0;
    padding: 0 9%;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

main .introduce h3 {
  margin-bottom: 35px;
}

main .introduce .introText {
  margin-bottom: 50px;
}

main .introduce .introText img {
  display: block;
  width: 170px;
  margin: 35px auto;
}

@media only screen and (min-width: 767px) {
  main .introduce .introText img {
    float: right;
    margin: 0;
  }
}

@media screen and (min-width: 1199px) {
  main .introduce .introText img {
    margin: 0 0 50px 50px;
  }
}

main .introduce .introText strong {
  display: block;
  margin-bottom: 35px;
  font-size: 2.6rem;
}

main .introduce .introText p {
  font-size: 1.6rem;
  font-weight: bold;
}

main .introduce ul {
  margin-bottom: 35px;
}

main .introduce ul li {
  margin-bottom: 20px;
}

main .introduce ul li h4 {
  float: left;
  width: 100px;
}

main .introduce ul li span {
  display: inline-block;
  width: calc(100% - 120px);
  font-size: 1.6rem;
}

@media only screen and (min-width: 767px) {
  main .introduce .profile {
    float: left;
  }
}

@media screen and (min-width: 1199px) {
  main .introduce .profile {
    width: 50%;
  }
}

@media only screen and (min-width: 767px) {
  main .introduce .education {
    float: right;
  }
}

@media screen and (min-width: 1199px) {
  main .introduce .education {
    width: 50%;
  }
}

main .skill {
  background-color: #fff;
}

@media only screen and (min-width: 767px) {
  main .skill {
    overflow: hidden;
  }
}

@media screen and (min-width: 1199px) {
  main .skill {
    float: right;
    width: calc(100% - 384px);
    margin: 0;
    padding: 0 9%;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

main .skill .skillList {
  width: 175px;
  margin: 0 auto;
}

@media only screen and (min-width: 767px) {
  main .skill .skillList {
    width: auto;
    margin: 0;
  }
}

main .skill .skillList li {
  width: 175px;
  margin-top: 35px;
  text-align: center;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@media only screen and (min-width: 767px) {
  main .skill .skillList li {
    opacity: 0;
    float: left;
    margin-right: calc((100% - 175px * 3) / 2);
  }
  main .skill .skillList li:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1199px) {
  main .skill .skillList li {
    margin-top: 0;
    margin-bottom: 60px;
  }
}

main .skill .skillList li img {
  width: 85%;
}

main .skill .skillList li .gaugeBox {
  position: relative;
  width: 175px;
  height: 23px;
  margin: 30px auto 0;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #fff;
}

main .skill .skillList li .gaugeBox .percent {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -30px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
}

main .skill .skillList li .gaugeBox .gaugeStick {
  display: block;
  width: 5%;
  height: 100%;
  -webkit-transition: width 1s;
  transition: width 1s;
  border-radius: 5px;
  background-color: #00adef;
}

main .skill .skillList li .skillInfo {
  position: absolute;
  top: 0;
  left: 110%;
}

main .skill .skillList li .skillInfo li {
  float: none;
  width: 240px;
  margin-bottom: 20px;
  opacity: 1;
  text-align: left;
  font-family: "D2Coding";
}

main .skill .skillList li .skillInfo li h3 {
  color: #f38518;
}

main .skill .skillList li .skillInfo li span {
  font-size: 5rem;
  color: #00adef;
}

main .skill .skillList li .skillInfo li span img {
  width: 30px;
  margin-left: 10px;
}

main .skill .skillList li .skillInfo li p {
  font-size: 1.6rem;
  font-weight: bold;
}

main .renewal {
  background-color: #eaeaea;
}

main .renewal strong {
  display: block;
  font-size: 2rem;
}

@media only screen and (min-width: 767px) {
  main .renewal {
    width: 100%;
    padding: 90px 20px 90px;
  }
  main .renewal .slideOverflow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  main .renewal .slideOverflow .slideBtn {
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    height: 50px;
    z-index: 200;
  }
  main .renewal .slideOverflow .slideBtn li {
    position: relative;
    float: left;
    width: 40px;
    height: 100%;
    cursor: pointer;
  }
  main .renewal .slideOverflow .slideBtn li > span {
    position: absolute;
    display: inline-block;
    top: 15px;
    left: 0;
    width: 30px;
    height: 5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #00adef;
  }
  main .renewal .slideOverflow .slideBtn li > span:last-child {
    top: 34px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  main .renewal .slideOverflow .slideBtn li:last-child {
    float: right;
  }
  main .renewal .slideOverflow .slideBtn li:last-child > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  main .renewal .slideOverflow .slideBtn li:last-child > span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  main .renewal h2 {
    margin-bottom: 0;
  }
  main .renewal strong {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1199px) {
  main .renewal {
    float: right;
    width: calc(100% - 384px);
    margin: 0;
    padding: 0 9%;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

main .renewal .renewalList {
  position: relative;
  margin-top: 35px;
}

@media only screen and (min-width: 767px) {
  main .renewal .renewalList {
    position: relative;
    width: 400%;
    height: 100vh;
    margin-top: 0px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

main .renewal .renewalList > li {
  margin-bottom: 35px;
}

@media only screen and (min-width: 767px) {
  main .renewal .renewalList > li {
    position: relative;
    float: left;
    width: 25%;
    height: 100vh;
    margin-bottom: 0;
    margin-right: 8.3%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

main .renewal .renewalList > li .imgOverflow {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
  border: 1px solid #000;
}

@media only screen and (min-width: 767px) {
  main .renewal .renewalList > li .imgOverflow {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 320px);
    height: 100%;
    border: none;
  }
  main .renewal .renewalList > li .imgOverflow + h3 {
    display: none;
  }
}

main .renewal .renewalList > li .imgOverflow::before {
  display: block;
  content: '';
  padding-top: 55%;
}

main .renewal .renewalList > li .imgOverflow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

main .renewal .renewalList > li .imgOverflow .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background-color: rgba(65, 65, 76, 0.9);
}

@media only screen and (min-width: 767px) {
  main .renewal .renewalList > li .imgOverflow .details {
    display: none;
  }
}

main .renewal .renewalList > li .imgOverflow .details:hover {
  opacity: 1;
}

main .renewal .renewalList > li .imgOverflow .details span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: -2px 0 #00adef, 0 2px #00adef, 2px 0 #00adef, 0 -2px #00adef;
  display: block;
  font-size: 2.6rem;
  font-weight: bold;
  cursor: pointer;
  color: #41414c;
}

main .renewal .renewalList > li .imgOverflow .details span:hover {
  opacity: 1;
}

main .renewal .renewalList > li h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}

main .renewal .renewalList > li .modalData {
  display: none;
}

@media only screen and (min-width: 767px) {
  main .renewal .renewalList > li .modalData {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    float: left;
    width: 320px;
  }
  main .renewal .renewalList > li .modalData h3 {
    margin-bottom: 15px;
    color: #000;
    font-size: 2.6rem;
    font-weight: 700;
  }
  main .renewal .renewalList > li .modalData p {
    word-break: keep-all;
    margin-bottom: 35px;
    font-size: 1.6rem;
    color: #000;
  }
  main .renewal .renewalList > li .modalData .goWebsite {
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    border-radius: 17px;
    background-color: #00adef;
  }
  main .renewal .renewalList > li .modalData .pointInfo {
    clear: both;
    margin-bottom: 20px;
  }
  main .renewal .renewalList > li .modalData .pointInfo li {
    float: left;
    margin-right: 10px;
    padding: 2px 12px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    border-radius: 14px;
    background-color: #00adef;
  }
  main .renewal .renewalList > li .modalData .modalInfo {
    margin-bottom: 20px;
  }
  main .renewal .renewalList > li .modalData .modalInfo li {
    clear: both;
    margin-bottom: 10px;
  }
  main .renewal .renewalList > li .modalData .modalInfo li:nth-child(n+3) {
    float: left;
    clear: none;
  }
  main .renewal .renewalList > li .modalData .modalInfo li:nth-child(3) {
    margin-right: 20px;
  }
  main .renewal .renewalList > li .modalData .modalInfo li .useColor {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: black;
  }
  main .renewal .renewalList > li .modalData .modalInfo li h4 {
    float: left;
    margin-right: 20px;
    line-height: 100%;
    color: #00adef;
    font-size: 20px;
    font-weight: 700;
  }
  main .renewal .renewalList > li .modalData .modalInfo li span {
    font-size: 1.6rem;
    color: #000;
  }
}

main .renewal .renewalModal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  width: 0px;
  height: 0px;
  opacity: 0;
  padding: 45px 10px 0;
  z-index: 300;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(65, 65, 76, 0.9);
}

main .renewal .renewalModal .modalWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  width: 320px;
  padding: 0 5px;
  opacity: 0;
  z-index: -200;
}

main .renewal .renewalModal .modalWrap .exitBtn {
  position: absolute;
  bottom: 102%;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

main .renewal .renewalModal .modalWrap .exitBtn span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}

main .renewal .renewalModal .modalWrap .exitBtn span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main .renewal .renewalModal .modalWrap h3 {
  margin-bottom: 15px;
  color: #fff;
  font-weight: 700;
}

main .renewal .renewalModal .modalWrap p {
  word-break: keep-all;
  margin-bottom: 35px;
  font-size: 1.6rem;
  color: #fff;
}

main .renewal .renewalModal .modalWrap .goWebsite {
  width: 150px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  border-radius: 17px;
  background-color: #00adef;
}

main .renewal .renewalModal .modalWrap .pointInfo {
  clear: both;
  margin-bottom: 20px;
}

main .renewal .renewalModal .modalWrap .pointInfo li {
  float: left;
  margin-right: 10px;
  padding: 2px 12px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  border-radius: 14px;
  background-color: #00adef;
}

main .renewal .renewalModal .modalWrap .modalInfo {
  margin-bottom: 20px;
}

main .renewal .renewalModal .modalWrap .modalInfo li {
  clear: both;
  margin-bottom: 10px;
}

main .renewal .renewalModal .modalWrap .modalInfo li:nth-child(n+3) {
  float: left;
  clear: none;
}

main .renewal .renewalModal .modalWrap .modalInfo li:nth-child(3) {
  margin-right: 20px;
}

main .renewal .renewalModal .modalWrap .modalInfo li .useColor {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: black;
}

main .renewal .renewalModal .modalWrap .modalInfo li h4 {
  float: left;
  margin-right: 20px;
  line-height: 100%;
  color: #00adef;
  font-size: 20px;
  font-weight: 700;
}

main .renewal .renewalModal .modalWrap .modalInfo li span {
  font-size: 1.6rem;
  color: #fff;
}
