@charset "utf-8";

.wrap {
    width: 100%;
}


/* 1320px 12컬럼 그리드시스템 */
.confix {
    position: relative;
    width: 83.54430379746835%;
    max-width: 1320px;
    min-width: 1060px;
    height: auto;
    margin: 0 auto;
    padding: 0 1.136363636363636%;
}


/* float 해제 가상박스 */
.vBox::after, .vBox::before {
    content: '';
    display: block;
    clear: both;
}


/* 드래그 방지 */
.noDrag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}





/* ====================header area==================== */
header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 174px;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.6) 33px,
            rgba(0, 0, 0, 0) 34px,
            rgba(0, 0, 0, 0.6) 35px,
            rgba(0, 0, 0, 0.0) 100%
          ); 
    z-index: 2;
    transition: top 0.5s;
}

.siteJoin {
    position: relative;
    width: 100%;
    height: 33px;
    margin-bottom: 5px;
}

.siteJoin ul {
    float: right;
    width: 123px;
    margin-top: 10px;
}

.siteJoin ul li {
    float: left;
}

.siteJoin ul li a {
    font-size: 1.3rem;
    padding: 0 18px;
    line-height: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.siteJoin ul li:first-child a {
    padding-left: 0;
}

.siteJoin ul li:last-child a {
    padding-right: 0;
    border-right: none;
}

.logoMenu {
    position: relative;
    width: 100%;
}

.logoMenu h1 {
    float: left;
}

.logoMenu h1 img {
    width: 160px;
}

.logoMenu h1 a:nth-child(2) {
    display: none;
}

.headerMenu {
    position: absolute;
    width: 50%;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    /* margin-top: 25px; */
}

.headerMenu .gnb {
    display: flex;
    justify-content: space-between;
}

.headerMenu .gnb a {
    font-family: 'GyeonggiTitle';
    font-size: 2rem;
    font-weight: 400;
}

.headerMenu li {
    float: left;
    text-align: center;
    font-size: 2.4rem;
}

.headMenuBtn {
    display: none;
    float: right;
    width: 22px;
    margin-top: 22px;
    cursor: pointer;
}

.headMenuBtn span {
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 7px;
    background-color: #d0cfd0;
}

.langBtn {
    position: relative;
    float: right;
    width: 61px;
    height: 25px;
    line-height: 25px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #f0e9ea;
    background: none;
}

.langBtn span {
    font-size: 1.3rem;
}

.langBtn .kor {
    position: absolute;
    left: 8px;
    opacity: 1;
    transition: opacity 0.5s;
}

.langBtn .eng {
    position: absolute;
    right: 8px;
    opacity: 0;
    transition: opacity 0.5s;
}

.togleBtn {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: transform 0.5s;
    border: none;
    background-color: #f0e9ea;
}


/* ====================main area==================== */
main {
    width: 100%;
    height: auto;
}

main h2 {
    font-size: 2.6rem;
}

.topArea {
    position: relative;
    top: 0;
    width: 100%;
    height: 346px;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/header_img.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    transition: height 0.5s;
}

.topHeading {
    width: 110px;
    margin: 0 auto;
    padding-top: 205px;
    text-align: center;
    transition: padding 0.5s;
}

.menuList {
    margin-top: 30px;
    font-size: 1.4rem;
}

.menuList li {
    float: left;
    padding-right: 5px;
}

.menuList li:nth-child(2)>img {
    width: 10px;
    padding-top: 3px;
}

.searchBox2 {
    visibility: hidden;
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 30px;
    line-height: 35px;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 50px;
    border-left: 0;
    outline: none;
}

input::-ms-clear,
input::-ms-reveal{
    display:none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

.searchBox2 .blind {
    font-size: 0;
}

.searchBox2 .select {
    width: 70px;
    height: 25px;
    margin: 0 20px;
    border: 0;
    outline: none;
}

.searchBox2 .search {
    width: 250px;
    height: 25px;
    margin: 0;
    border: 0;
    border-left: 0;
    outline: none;
}

.searchBox2 button{
    float: right;
    cursor: pointer;
}

.searchBtn {
    width: 15px;
    height: 15px;
    margin: 6px 13px 0 0;
    background: url(../images/search_icon.png) no-repeat center top / cover;
    border: none;
}

/* =======map====== */
.hiddenTxt {
    font-size: 0;
}

    .mapWrap {
        margin-top: 60px;
        width: 100%;
        /* height: auto; */
    }

    .map iframe{
        float: left; 
        /* height: 100%;  
        min-height: 450px; */
    }

    .map .mapInfo {
        float: right;
        width: 38.5%;
        /* height: auto; */
        min-height: 460px;
        border: 1px solid #ccc;
        /* padding: 40px 30px; */
        /* margin-left: 1.937984496124031%; */
    }

    .mapInfo ul {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content:space-between;
        height: 460px;
        /* line-height: auto; */
        padding: 6% 8%;
    }

     /* .mapInfo li {
        margin-bottom: 6%;
    } */
/*
    .mapInfo li:first-child {
        margin-top: 8.88888888888889%;
    }
 */
    /* .mapInfo li:last-child {
        margin-bottom: 0;
    } */
    
    .mapInfo li>h3 {
        float: left;
        width: 80px;
        line-height: 2.5rem;
        font-size: 1.7rem;
        font-weight: 400;
        /* margin-left: 6.6666666666667%; */
        margin-bottom: 2px;
        /* background-color: #6f6f6f; */
    }

    /* .mapInfo li:last-child>p {
        margin-bottom: 8.88888888888889%;
    } */

    .mapInfo li>p {
        display: inline-block;
        width: 255px;
        font-size: 1.5rem;
        line-height: 2.5rem; 
        /* margin-left: 6.6666666666667%; */
        vertical-align: top;
        /* background-color: #00adef; */
    }

    .mapInfo li:nth-child(3)>p {
        line-height: 2rem;
    }

    .mapInfo li>p>.addType {
        padding: 2px 2px;
        margin-right: 5px;
        font-size: 1.2rem;
        color: #a7a7a7;
        border: 1px solid #a7a7a7;
        border-radius: 2px;
    }
        
    
        .postCode {
            margin-left: 15px;
        }

    .mapInfo li small {
        display: inline-block;
        width: 255px;
        color: #a7a7a7;
        line-height: 1.5rem;
        font-size: 1.2rem;
    }

    .mapInfo li>.loadLinkWrap {
        display: inline-block;
        width: 255px;
        /* margin-left: 6.6666666666667%; */
        /* background-color: #00adef; */
    }

    .mapInfo li .loadLink {
        display: inline-block;
        width: 70px;
        text-align: center;
        margin-right: 25px;
    }

    .mapInfo li .loadLink:last-child {
        margin-right: 0;
    }

    .loadLink>img {
        width: 60px;
    }

    .loadLink:first-child>img {
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    .loadLink>.loadLinkTxt {
        font-size: 1.2rem;
    }

    .phoneIcon {
        width: 15px;
        margin-right: 5px;
    }


/* ============================오시는 길 start============================== */
/* ==========탭 start========= */
.transportWrap {
        clear: both;
        width: 100%;
    }

        /* tap */
        .category {
            width: 100%;
            border-bottom: 1px solid gray;
            margin-bottom: 30px;
        }

        .category ul {
            position: relative;
            float: left;
            width: 100%;
            max-width: 568px;
            margin-top: 50px;
            margin-bottom: 10px;
        }

        .category li{
            float: left;
            width: 30%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            color: #c7c7c7;
            font-family: 'GyeonggiTitle';
            font-weight: 600;
            font-size: 20px;
            cursor: pointer;
        }

        .category li:first-child{
            color: #585858;
        }

        .tapSection {
            position: relative;
        }

/* ==========탭 end========= */
/* ==========교통 공통 ======== */
    .publicTransit, .myCar {
        clear: both;
        display: flex;
        width: 100%;
        height: auto;
    }

        h3{
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 25px;
        }

        .listCircle {
            float: left;
            width: 5px;
            height: 5px;
            margin: 8px 10px;
            border-radius: 50px;
            background-color: #a7a7a7;
        }
        
        .blueBox {
            line-height: 2.5rem;
            font-size: 1.6rem;
            padding: 15px 35px;
            margin-top: 10px;
            margin-bottom: 40px;
            border-radius: 15px;
            background-color: #edf7fe;
        }

        .whiteBox>p {
            line-height: 2.5rem;
            font-size: 1.6rem;
            padding: 5px 20px;
            margin-bottom: 40px;
            background-color: #fff;
        }

        .blueTxt {
            color: #00adef;
        }

        small  {
                line-height: 2.0rem;
                font-size: 1.4rem;
                color: #a49c9e;
            }
    


/* ==========지하철 start========= */       
    .publicTransit>.subwayWrap {
            width: 55%; 
            height: auto;
    }

        .subwayWrap .subwayCase {
            width: 93%;
            line-height: 2.5rem;
            font-size: 1.6rem;
        }

            .subwayCase:last-child .blueBox {
                margin-bottom: 0;
            }

                .blueBox .subwayNumBox {
                    color: #fff;
                    font-size: 1.4rem;
                    font-family: 'GyeonggiTitle';
                    padding: 3px 8px;
                    border-radius: 50px;
                    background-color: #3e80eb;
                }

                .blueBox .green  {
                    background-color: #22b41d;
                }

                .blueBox strong {
                    text-decoration: underline;
                }

                .blueBox>p:nth-child(2) {
                    margin-top: 10px;
                }

/* ==========버스 start========= */  
        .publicTransit .busWrap {
            display: block;
            width: 45%;
            height: auto;
            text-align: left;
            border-left: 1px solid #e4e4e4;
        }

            .busWrap .busWrapBox {
                padding-left: 9%;
            }
                .busWrapBox li {
                    font-size: 1.6rem;
                    margin-bottom: 33px;
                }
                .busWrapBox li:last-child {
                    margin-bottom: 0;
                }

                    .busWrapBox li .strong {
                        font-size: 1.8rem;
                    }

                    .busWrapBox li:last-child .blueBox {
                        margin-bottom: 0;
                    }

                    .busWrapBox li .busNumBox {
                        color: #fff;
                        font-size: 14px;
                        font-family: 'GyeonggiTitle';
                        padding: 3px 6px;
                        margin-right: 5px;
                        border-radius: 0;
                        background-color: #79c063;
                    }

                    .busWrapBox li .purple  {
                        background-color: #7246ac;
                    }

                    .busWrapBox li .yellow  {
                        background-color: #f6b831;
                    }



.myCar {
    margin-bottom: 50px;
}
/* ==========국도 start========= */       
.myCar>.nationalHighwayWrap {
    width: 50%; 
    height: auto;
}

    .nationalHighwayWrap .nationalHighwayCase {
        width: 93%;
        line-height: 2.5rem;
        font-size: 1.6rem;
    }

        .nationalHighwayCase:last-child .whiteBox>p {
            margin-bottom: 0;
        }


/* ==========고속도로 start========= */  
.myCar .expresswayWrap {
    display: block;
    width: 50%;
    height: auto;
    text-align: left;
    border-left: 1px solid #e4e4e4;
}

    .expresswayWrap .expresswayWrapBox {
        padding-left: 9%;
    }
        .expresswayWrapBox li {
            font-size: 1.6rem;
            margin-bottom: 33px;
            margin-bottom: 0;
        }

            .expresswayWrapBox li:last-child .whiteBox>p {
                margin-bottom: 0;
            }

.parking {
    padding: 20px 40px;
}

.parking>img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 14px 20px 4px 0;
}

.parking>h3 {
    margin: 10px 0;
}

.parking>p {
    line-height: 2.5rem;
}

.parkingNum {
    /* display: inline-block; */
    font-size: 1.6rem;
    color: #fff;
    font-family: 'GyeonggiTitle';
    font-weight: 400;
    padding: 3px 8px;
    /* border-radius: 50px; */
    background-color: #477acc;             
}

/* ========== footer ========== */
footer {
    clear: both;
    width: 100%;
    height: 200px;
    line-height: 2rem;
    margin-top: 150px;
    padding-top: 25px;
    font-size: 1.3rem;
    background-color: #202020;
}

.footLogoMenu {
    position: relative;
    height: 65px;
}

.footLogoMenu .footLogo {
    width: 190px;
    height: 65px;
}

.footLogoMenu>a {
    float: left;
    margin-right: 30px;
}

.footMenu li {
    float: left;
    line-height: 13px;
    margin-top: 28px;
    padding: 0 30px;
    border-right: 1px solid #6f6f6f;
}

.footMenu li a {
    font-weight: bold;
    color: #fff;
}

.footMenu li:first-child {
    padding-left: 0;
}

.footMenu li:last-child {
    border-right: 0;
}

.org {
    position: absolute;
    right: 0;
    bottom: 15px;
    float: right;
    width: 190px;
    height: 40px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    transition: height 0.5s;
    background-color: #202020;
}


.orgBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #6f6f6f;
    border-radius: 10px 10px 10px 10px;
    background: none;
}

.org span {
    color: #eee7e8;
}

.org span:first-child {
    padding-right: 100px;
}

.siteList {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 290px;
    border: 1px solid #6f6f6f;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.siteList li {
    padding: 15px 0 0 15px;
}

.siteList>li>a {
    color: #ddd5d7;
}

.otherSite {
    float: left;
}

.otherSite li {
    float: left;
}

.otherSite img {
    width: 80px;
    margin-right: 15px;
}

.otherSite img:last-child {
    margin-right: 28px;
}

.snsCopy .copyAddr {
    float: left;
}

.copyAddr {
    color: #686868;
}

.snsList {
    float: right;
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.sns li {
    float: left;
    margin-top: 21px;
}

.sns li img {
    width: 35px;
}



/* ===== 1080px 이하 ===== */
@media (max-width:1080px) {
    .confix {
        width: 100%;
        min-width: 0;
        padding: 0 2%;
    }    

    header {
        height: 80px;
        background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0.0) 100%
              );
    }

    .topArea {
        height: 250px;
    }

    .topHeading {
        padding-top: 120px;
    }

    .siteJoin {
        display: none;
    }

    .headerMenu {
        display: none;
    }

    .logoMenu h1 img {
        width: 50px;
        margin-top: 5px;
    }

    .logoMenu h1 a:nth-child(1) {
        display: none;
    }

    .logoMenu h1 a:nth-child(2) {
        display: block;
    }

    .langBtn {
        display: none;
    }

    .headMenuBtn {
        display: block;
    }    
    
    .logoMenu {
        padding-left: 1.111111111111111%;
    }

    .menuList {
        display: none;
    }

    .searchBox2 {
        display: none;
    }

/* =========메인========== */

    /* map */
    .map iframe{
        width: 100%;
        height: 350px;
        margin-bottom: 10px;
    }

    .map .mapInfo {
        position: relative;
        float: left;
        width: 100%;
        height: auto; 
        min-height: 130px;
       
    }

    .mapInfo ul {
        display: inline-block;
        width: 100%;
        height: auto; 
        padding: 2% 3%;
    }

     .mapInfo li {
        margin-bottom: 5px;
    }
    
    .mapInfo li>h3 {
        float: left;
        width: 80px;
        line-height: 2.5rem;
        font-size: 1.7rem;
        font-weight: 400;
        margin-bottom: 2px;
    }

    .mapInfo li>p {
        width: 80%;
        min-width: 253px;
    }

        .mapInfo li small {
            width: 100%;
        }

    .mapInfo li:nth-child(2)>h3 {
        display: none;
    }

    .mapInfo li:nth-child(3) {
        display: none;
    }

    .mapInfo li>.loadLinkWrap {
        position: absolute;
        right: 20px;
        top: 15px;
        width: 160px;
    }

    .mapInfo li .loadLink {
        margin-right: 15px;
    }

    /* 지하철 버스 공통 */
    .publicTransit {       
        flex-wrap: wrap;   
    }

    /* 지하철 start */       
    .publicTransit>.subwayWrap {
        width: 100%; 
    }

        .subwayWrap .subwayCase {
            width: 100%;
        }
        
        .subwayCase:last-child .blueBox {
                margin-bottom: 70px;
        }

    /*버스 start */        
    .publicTransit .busWrap {
        width: 100%;
        border-top: 1px solid #e4e4e4;
        border-left: 0;
        padding-top: 50px;
    }
        .busWrap .busWrapBox {
            padding-left: 0;
        }
        
        .busWrap .busWrapBox>ul {
            padding-left: 0px;
        }



    /* 국도 start */       
    .myCar {       
        flex-wrap: wrap; 
    }
    .myCar>.nationalHighwayWrap {
        width: 100%; 
    }

        .nationalHighwayWrap .nationalHighwayCase {
            width: 100%;
        }
        
        .nationalHighwayCase:last-child .whiteBox {
                margin-bottom: 70px;
        }

    /*고속도로 start */        
    .myCar .expresswayWrap {
        width: 100%;
        border-top: 1px solid #e4e4e4;
        border-left: 0;
        padding-top: 50px;
    }
        .expresswayWrap .expresswayWrapBox {
            padding-left: 0;
        }
        
        .expresswayWrap .expresswayWrapBox>ul {
            padding-left: 0px;
        }


/* ===========푸터========== */
    footer {
        margin-top: 100px;
    }

    .footLogo {
        display: none;
    }

    .otherSite {
        display: none;
    }

    .org {
        width: 150px;
    }
    
    .org span:first-child {
        padding-right: 50px;
    }

    .snsList {
        width: 150px;
    }
}
    



/* ===== 768px 이하 ===== */
@media (max-width: 767px) {
    .confix {
        padding: 0 4%
    }

    .topArea {
        height: 200px;
    }

    .topHeading {
        padding-top: 90px;
    }

    .mapInfo li{
        margin-bottom: 20px;
    }
    .mapInfo li:last-child{
        margin-bottom: 0;
    }

    .mapInfo li:nth-child(2)>h3 {
        display:inline-block;
    }

    .mapInfo li>.loadLinkWrap {
        position:static;
        width: 80%;
    }
    
    .category li{
        width: 50%;
    }

    .publicTransit>.subwayWrap{
        text-align: center;
    }

    .busWrapBox {
        text-align: center;
    }

    .myCar>.nationalHighwayWrap{
        text-align: center;
    }

    .expresswayWrapBox {
        text-align: center;
    }

    .listCircle {
        display: none;
    }

    .parkingNum {
        display: inline-block; 
        height: 22px;
        line-height: 18px;           
    }

    .footLogoMenu {
        display: none;
    }

    footer {
        height: 150px;
    }

    .snsCopy {
        width: 276px;
        margin: 0 auto;
    }

    .snsList {
        float: none;
    }

    .copyAddr {
        width: 276px;
        text-align: center;
        transform: translateY(60px);
    }

    .copyAddr span:first-child {
        display: none;
    }

    .snsList {
        width: 140px;
        margin: 0 auto;
        transform: translateY(-50px);
    }
}