@charset "utf-8";

.wrap {
    width: 100%;
}


/* 1320px 12컬럼 그리드시스템 */
.confix {
    position: relative;
    width: 83.54430379746835%;
    max-width: 1320px;
    min-width: 1060px;
    height: auto;
    margin: 0 auto;
    padding: 0 1.136363636363636%;
}


/* float 해제 가상박스 */
.vBox::after, .vBox::before {
    content: '';
    display: block;
    clear: both;
}


/* 드래그 방지 */
.noDrag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}





/* ====================header area==================== */
header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 174px;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.6) 33px,
            rgba(0, 0, 0, 0) 34px,
            rgba(0, 0, 0, 0.6) 35px,
            rgba(0, 0, 0, 0.0) 100%
          ); 
    z-index: 2;
    transition: top 0.5s;
}

.siteJoin {
    position: relative;
    width: 100%;
    height: 33px;
    margin-bottom: 5px;
}

.siteJoin ul {
    float: right;
    width: 123px;
    margin-top: 10px;
}

.siteJoin ul li {
    float: left;
}

.siteJoin ul li a {
    font-size: 1.3rem;
    padding: 0 18px;
    line-height: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.siteJoin ul li:first-child a {
    padding-left: 0;
}

.siteJoin ul li:last-child a {
    padding-right: 0;
    border-right: none;
}

.logoMenu {
    position: relative;
    width: 100%;
}

.logoMenu h1 {
    float: left;
}

.logoMenu h1 img {
    width: 160px;
}

.logoMenu h1 a:nth-child(2) {
    display: none;
}

.headerMenu {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
}

.headerMenu .gnb {
    display: flex;
    justify-content: space-between;
}

.headerMenu .gnb a {
    font-family: 'GyeonggiTitle';
    font-size: 2rem;
    font-weight: 400;
}

.headerMenu li {
    float: left;
    text-align: center;
    font-size: 2.4rem;
}

.headMenuBtn {
    display: none;
    float: right;
    width: 22px;
    margin-top: 22px;
    cursor: pointer;
}

.headMenuBtn span {
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 7px;
    background-color: #d0cfd0;
}

.langBtn {
    position: relative;
    float: right;
    width: 61px;
    height: 25px;
    line-height: 25px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #f0e9ea;
    background: none;
}

.langBtn span {
    font-size: 1.3rem;
}

.langBtn .kor {
    position: absolute;
    left: 8px;
    opacity: 1;
    transition: opacity 0.5s;
}

.langBtn .eng {
    position: absolute;
    right: 8px;
    opacity: 0;
    transition: opacity 0.5s;
}

.togleBtn {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: transform 0.5s;
    border: none;
    background-color: #f0e9ea;
}


/* ====================main area==================== */
main {
    width: 100%;
}

main h2 {
    font-size: 2.6rem;
}

.topArea {
    position: relative;
    top: 0;
    width: 100%;
    height: 346px;
    margin-bottom: 108px;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/header_img.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    transition: height 0.5s;
}

.topHeading {
    width: 300px;
    margin: 0 auto;
    padding-top: 205px;
    text-align: center;
    transition: padding 0.5s;
}

.menuList {
    margin-top: 30px;
    font-size: 1.4rem;
}

.menuList li {
    float: left;
    padding-right: 5px;
}

.menuList li:nth-child(2)>img {
    width: 10px;
    padding-top: 3px;
}

.searchBox2 {
    visibility: hidden;
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 30px;
    line-height: 35px;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 50px;
    border-left: 0;
    outline: none;
}

input::-ms-clear,
input::-ms-reveal{
    display:none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

.searchBox2 .blind {
    font-size: 0;
}

.searchBox2 .select {
    width: 70px;
    height: 25px;
    margin: 0 20px;
    border: 0;
    outline: none;
}

.searchBox2 .search {
    width: 250px;
    height: 25px;
    margin: 0;
    border: 0;
    border-left: 0;
    outline: none;
}

.searchBox2 button{
    float: right;
    cursor: pointer;
}

.searchBtn {
    width: 15px;
    height: 15px;
    margin: 6px 13px 0 0;
    background: url(../images/search_icon.png) no-repeat center top / cover;
    border: none;
}

/* ========== 이곳에 메인영역 css 작성해주세요 ========== */

.greetings h2 {
    font-size: 3.4rem;
    text-align: center;
    color: #a7a7a7;
}

.greetings {
    margin-bottom: 235px;
}

.greetingsText {
    position: relative;
    width: 90%;
    margin-top: 65px;
    padding: 60px 300px 60px 60px;
    border-radius: 15px;
    background-color: #edf7fe;
}

.greetingsText .dateName {
    float: right;
    text-align: right;
    font-size: 1.6rem;
}

.greetingsText .dateName span:first-child {
    display: inline-block;
    margin-bottom: 8px;
}

.greetings p {
    margin-bottom: 40px;
}

.greetingsText img {
    position: absolute;
    bottom: 0;
    right: -116px;
    width: 330px;
}

.mission {
    padding-bottom: 150px;
    margin-bottom: 135px;
    background: url(../images/mission_Bg.png) no-repeat bottom center;
}

.mission h2 {
    width: 670px;
    margin: 0 auto;
    padding: 14px 0;
    margin-bottom: 40px;
    border-radius: 30px;
    font-size: 3.4rem;
    text-align: center;
    color: #7b7b7b;
    background-color: #edf7fe;
}

.missionImg {
    position: relative;
    margin-bottom: 240px;
}

.verticalBorder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    bottom: -90px;
    width: 270px;
    height: 4px;
    background-image: url(../images/dotted_border.svg);
}

.missionImg strong {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'GyeonggiTitle';
    font-size: 2.5rem;
    color: #fff;
}

.missionImg strong img {
    margin: 14px 0;
}

.missionImg strong span {
    line-height: 3rem;
}

.missionImg>img {
    width: 100%;
}

.missionGoal {
    width: 410px;
    margin: 0 auto;
    text-align: center;
}

.missionGoal ul {
    width: 100%;
}

.missionGoal li {
    margin-bottom: 22px;
}

.missionGoal img {
    width: 24px;
    margin-top: 15px;
}

.howGoal {
    position: relative;
    width: 650px;
    margin: 80px auto 0;
}

.howGoal h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.4rem;
    color: #585858;
    background: none;
}

.howGoal>ul>li {
    position: relative;
    float: left;
    width: 300px;
    height: 300px;
    text-align: center;
}

.howGoal>ul>li:nth-child(even) {
    float: right;
}


.howGoal>ul>li:nth-child(-n+2) {
    margin-bottom: 50px;
}

.howGoalList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.howGoal>ul>li img {
    width: 80px;
    margin-bottom: 5px;
    padding: 14px;
    border-radius: 15px;
    background-color: #fff2aa;
}

.howGoal>ul>li::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 300px;
    height: 300px;
    border: 1px solid #25b9f0;
    transform: rotate(-45deg);
}

.howGoal>ul>li:nth-child(2) img {
    background-color: #f1c5ca;
}

.howGoal>ul>li:nth-child(n+2):nth-child(-n+3):after {
    border-color: #9eb5c0;
}

.howGoal>ul>li:nth-child(3) img {
    background-color: #ffdce5;
}

.howGoal>ul>li:nth-child(4) img {
    background-color: #fce9af;
}

.howGoal h3 {
    width: 300px;
    margin-bottom: 40px;
}

.howGoal ul ul li {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.history {
    margin-bottom: 80px;
}

.historyList {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

.history h2 {
    margin-bottom: 75px;
    font-size: 3rem;
}

.history h3 {
    font-weight: normal;
}

.historyList>ul{
    display: flex;
    justify-content: space-between;
    width: 100%
}

.historyList>ul li {
    float: left;
    vertical-align: middle;
}

.historyList>ul li:nth-child(odd) {
    padding-top: 100px;
}

.historyLine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 4px;
    margin: 0 auto;
    background-image: url(../images/dotted_border.svg);
}

.historyLine>span {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #acacac;
}

.selectHistory {
    position: absolute;
    left: 0;
    width: 235px;
    height: 4px;
    background-color: #00aeef;
}

.selectHistory span:first-child {
    position: absolute;
    display: inline-block;
    left: -2px;
    bottom: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00aeef;
}

.selectHistory span:last-child {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00aeef;
}

.selectYear {
    padding-bottom: 10px;
    color: #00aeef;
    border-bottom: 1px solid #00aeef;
}

.showHistory {
    position: absolute;
    bottom: -200px;
    left: 60px;
    height: 100px;
    padding: 28px 80px;
    border-radius: 50px;
    background-color: #edf7fe;
}

.showHistory li {
    margin-bottom: 12px;
    font-size: 1.6rem;
}

.showHistory h3 {
    float: left;
    margin-right: 30px;
}

/* ========== 이곳에 메인영역 css 작성해주세요 ========== */





/* ========== footer ========== */
footer {
    width: 100%;
    height: 200px;
    line-height: 2rem;
    margin-top: 290px;
    padding-top: 25px;
    font-size: 1.3rem;
    background-color: #202020;
}

.footLogoMenu {
    position: relative;
    height: 65px;
}

.footLogoMenu .footLogo {
    width: 190px;
    height: 65px;
}

.footLogoMenu>a {
    float: left;
    margin-right: 30px;
}

.footMenu li {
    float: left;
    line-height: 13px;
    margin-top: 28px;
    padding: 0 30px;
    border-right: 1px solid #6f6f6f;
}

.footMenu li a {
    font-weight: bold;
    color: #fff;
}

.footMenu li:first-child {
    padding-left: 0;
}

.footMenu li:last-child {
    border-right: 0;
}

.org {
    position: absolute;
    right: 0;
    bottom: 15px;
    float: right;
    width: 190px;
    height: 40px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    transition: height 0.5s;
    background-color: #202020;
}


.orgBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #6f6f6f;
    border-radius: 10px 10px 10px 10px;
    background: none;
}

.org span {
    color: #eee7e8;
}

.org span:first-child {
    padding-right: 100px;
}

.siteList {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 290px;
    border: 1px solid #6f6f6f;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.siteList li {
    padding: 15px 0 0 15px;
}

.siteList>li>a {
    color: #ddd5d7;
}

.otherSite {
    float: left;
}

.otherSite li {
    float: left;
}

.otherSite img {
    width: 80px;
    margin-right: 15px;
}

.otherSite img:last-child {
    margin-right: 28px;
}

.snsCopy .copyAddr {
    float: left;
}

.copyAddr {
    color: #686868;
}

.snsList {
    float: right;
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.sns li {
    float: left;
    margin-top: 21px;
}

.sns li img {
    width: 35px;
}



/* ===== 1080px 이하 ===== */
@media (max-width:1080px) {
    .confix {
        width: 100%;
        min-width: 0;
        padding: 0 2%;
    }    

    header {
        height: 80px;
        background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0.0) 100%
              );
    }

    .topArea {
        height: 250px;
    }

    .topHeading {
        padding-top: 120px;
    }

    .siteJoin {
        display: none;
    }

    .headerMenu {
        display: none;
    }

    .logoMenu h1 img {
        width: 50px;
        margin-top: 5px;
    }

    .logoMenu h1 a:nth-child(1) {
        display: none;
    }

    .logoMenu h1 a:nth-child(2) {
        display: block;
    }

    .langBtn {
        display: none;
    }

    .headMenuBtn {
        display: block;
    }    
    
    .logoMenu {
        padding-left: 1.111111111111111%;
    }

    .menuList {
        display: none;
    }

    .searchBox2 {
        display: none;
    }

    .footLogo {
        display: none;
    }

    .otherSite {
        display: none;
    }

    .org {
        width: 150px;
    }
    
    .org span:first-child {
        padding-right: 50px;
    }

    .snsList {
        width: 150px;
    }
    
}





/* ===== 768px 이하 ===== */
@media (max-width: 767px) {
    .confix {
        padding: 0 4%
    }

    .topArea {
        height: 200px;
    }

    .topHeading {
        padding-top: 90px;
    }

    .footLogoMenu {
        display: none;
    }

    footer {
        height: 150px;
    }

    .snsCopy {
        width: 276px;
        margin: 0 auto;
    }

    .snsList {
        float: none;
    }

    .copyAddr {
        width: 276px;
        text-align: center;
        transform: translateY(60px);
    }

    .copyAddr span:first-child {
        display: none;
    }

    .snsList {
        width: 140px;
        margin: 0 auto;
        transform: translateY(-50px);
    }
}