@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font: {
        family: 'Song Myung';
        size: 10px;
    }
    scroll-behavior: smooth; 
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

h2 {
    font-size: 5rem;
}

h3 {
    font: {
        weight: normal;
        size: 3.5rem;
    }
}

section {
    margin-bottom: 100px;
}

strong {
    font: {
        weight: normal;
        size: 2rem
    }
}