@charset "utf-8";

.wrap {
    width: 100%;
}


/* 1320px 12컬럼 그리드시스템 */
.confix {
    position: relative;
    width: 83.54430379746835%;
    max-width: 1320px;
    min-width: 1060px;
    height: auto;
    margin: 0 auto;
    padding: 0 1.136363636363636%;
}


/* float 해제 가상박스 */
.vBox::after, .vBox::before {
    content: '';
    display: block;
    clear: both;
}


/* 드래그 방지 */
.noDrag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

/* style */
.color_1aa5dd {
    color: #1aa5dd !important;
}

.font_weight_700 {
    font-weight: 700 !important;
}



/* ====================header area==================== */
header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 174px;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.6) 33px,
            rgba(0, 0, 0, 0) 34px,
            rgba(0, 0, 0, 0.6) 35px,
            rgba(0, 0, 0, 0.0) 100%
          ); 
    z-index: 2;
    transition: top 0.5s;
}

.siteJoin {
    position: relative;
    width: 100%;
    height: 33px;
    margin-bottom: 5px;
}

.siteJoin ul {
    float: right;
    width: 123px;
    margin-top: 10px;
}

.siteJoin ul li {
    float: left;
}

.siteJoin ul li a {
    font-size: 1.3rem;
    padding: 0 18px;
    line-height: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.siteJoin ul li:first-child a {
    padding-left: 0;
}

.siteJoin ul li:last-child a {
    padding-right: 0;
    border-right: none;
}

.logoMenu {
    position: relative;
    width: 100%;
}

.logoMenu h1 {
    float: left;
}

.logoMenu h1 img {
    width: 160px;
}

.logoMenu h1 a:nth-child(2) {
    display: none;
}

.headerMenu {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
}

.headerMenu .gnb {
    display: flex;
    justify-content: space-between;
}

.headerMenu .gnb a {
    font-family: 'GyeonggiTitle';
    font-size: 2rem;
    font-weight: 400;
}

.headerMenu li {
    float: left;
    text-align: center;
    font-size: 2.4rem;
}

.headMenuBtn {
    display: none;
    float: right;
    width: 22px;
    margin-top: 22px;
    cursor: pointer;
}

.headMenuBtn span {
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 7px;
    background-color: #d0cfd0;
}

.langBtn {
    position: relative;
    float: right;
    width: 61px;
    height: 25px;
    line-height: 25px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #f0e9ea;
    background: none;
}

.langBtn span {
    font-size: 1.3rem;
}

.langBtn .kor {
    position: absolute;
    left: 8px;
    opacity: 1;
    transition: opacity 0.5s;
}

.langBtn .eng {
    position: absolute;
    right: 8px;
    opacity: 0;
    transition: opacity 0.5s;
}

.togleBtn {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: transform 0.5s;
    border: none;
    background-color: #f0e9ea;
}


/* ====================main area==================== */
main {
    width: 100%;
}

main h2 {
    font-size: 2.6rem;
}

.topArea {
    position: relative;
    top: 0;
    width: 100%;
    height: 346px;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/header_img.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    transition: height 0.5s;
}

.topHeading {
    width: 110px;
    margin: 0 auto;
    padding-top: 205px;
    text-align: center;
    transition: padding 0.5s;
}

.menuList {
    margin-top: 30px;
    font-size: 1.4rem;
}

.menuList li {
    float: left;
    padding-right: 5px;
}

.menuList li:nth-child(2)>img {
    width: 10px;
    padding-top: 3px;
}

.searchBox2 {
    visibility: hidden;
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 30px;
    line-height: 35px;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 50px;
    border-left: 0;
    outline: none;
}

input::-ms-clear,
input::-ms-reveal{
    display:none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

.searchBox2 .blind {
    font-size: 0;
}

.searchBox2 .select {
    width: 70px;
    height: 25px;
    margin: 0 20px;
    border: 0;
    outline: none;
}

.searchBox2 .search {
    width: 250px;
    height: 25px;
    margin: 0;
    border: 0;
    border-left: 0;
    outline: none;
}

.searchBox2 button{
    float: right;
    cursor: pointer;
}

.searchBtn {
    width: 15px;
    height: 15px;
    margin: 6px 13px 0 0;
    background: url(../images/search_icon.png) no-repeat center top / cover;
    border: none;
}

/* ========== 이곳에 메인영역 css 작성해주세요 ========== */
.infomation {
    margin-top: 35px;
}

.infoList>li {
    padding: 35px 0;
    border-bottom: 1px solid #bcbcbc;
}

.infoText {
    float: right;
    width: 82%;
}

.infoList h3 {
    float: left;
    width: 18%;
    padding-left: 23px;
}

.infoList span {
    line-height: 2.0rem;
    font-size: 1.4rem;
    color: #a49c9e;
}


.infoList p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.reference {
    margin-top: 30px;
    font-weight: 800;
    text-decoration: underline;
    text-underline-position: under;
}

.notice {
    margin-top: 60px;
    padding: 50px 75px;
    border-radius: 15px;
    background-color: #edf7fe;
}

.notice h3 {
    font-size: 2.0rem;
    margin-bottom: 15px;
}

.notice p {
    font-size: 1.6rem;
}

.notice img {
    float: left;
    width: 21px;
    height: 21px;
    margin-right: 15px;
}



/* ========== 이곳에 메인영역 css 작성해주세요 ========== */





/* ========== footer ========== */
footer {
    width: 100%;
    height: 200px;
    line-height: 2rem;
    margin-top: 150px;
    padding-top: 25px;
    font-size: 1.3rem;
    background-color: #202020;
    transition: margin 0.5s;
}

.footLogoMenu {
    position: relative;
    height: 65px;
}

.footLogoMenu .footLogo {
    width: 190px;
    height: 65px;
}

.footLogoMenu>a {
    float: left;
    margin-right: 30px;
}

.footMenu li {
    float: left;
    line-height: 13px;
    margin-top: 28px;
    padding: 0 30px;
    border-right: 1px solid #6f6f6f;
}

.footMenu li a {
    font-weight: bold;
    color: #fff;
}

.footMenu li:first-child {
    padding-left: 0;
}

.footMenu li:last-child {
    border-right: 0;
}

.org {
    position: absolute;
    right: 0;
    bottom: 15px;
    float: right;
    width: 190px;
    height: 40px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    transition: height 0.5s;
    background-color: #202020;
}


.orgBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #6f6f6f;
    border-radius: 10px 10px 10px 10px;
    background: none;
}

.org span {
    color: #eee7e8;
}

.org span:first-child {
    padding-right: 100px;
}

.siteList {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 290px;
    border: 1px solid #6f6f6f;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.siteList li {
    padding: 15px 0 0 15px;
}

.siteList>li>a {
    color: #ddd5d7;
}

.otherSite {
    float: left;
}

.otherSite li {
    float: left;
}

.otherSite img {
    width: 80px;
    margin-right: 15px;
}

.otherSite img:last-child {
    margin-right: 28px;
}

.snsCopy .copyAddr {
    float: left;
}

.copyAddr {
    color: #686868;
}

.snsList {
    float: right;
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.sns li {
    float: left;
    margin-top: 21px;
}

.sns li img {
    width: 31px;
}



/* ===== 1080px 이하 ===== */
@media (max-width:1080px) {
    .confix {
        position: relative;
        width: 100%;
        min-width: 0;
        height: auto;
        margin: 0 auto;
        padding: 0 3%;
    }    

    .siteJoin ul {
        margin-right: 1%;
    }

    .headerMenu {
        display: none;
    }

    .logoMenu h1 img {
        width: 50px;
        margin-top: 5px;
    }

    .logoMenu h1 a:nth-child(1) {
        display: none;
    }

    .logoMenu h1 a:nth-child(2) {
        display: block;
    }

    .langBtn {
        display: none;
    }

    .headMenuBtn {
        display: block;
        margin-right: 1.111111111111111%;
    }    
    
    .logoMenu {
        padding-left: 1.111111111111111%;
    }

    .menuList {
        margin-left: 1.111111111111111%;
    }

    .notice {
        padding: 25px 20px;
    }

    .footLogo {
        display: none;
    }

    .otherSite {
        display: none;
    }

    .org {
        width: 150px;
    }
    
    .org span:first-child {
        padding-right: 50px;
    }

    .snsList {
        width: 150px;
    }
    
}





/* ===== 768px 이하 ===== */
@media (max-width: 768px) {
    .confix {
        padding: 0 7%;
    }
    html {
        font-size: 9px;
    }
    header {
        top: -35px;
    }

    .topArea {
        height: 250px;
    }

    .topHeading {
        padding-top: 100px;
    }

    .infoList strong {
        margin-bottom: 5px;
        line-height: 2rem;
    }

    .infoList h3 {
        float: none;
        width: 100%;
        padding-left: 0;
        margin-bottom: 10px;
    }

    .infoText {
        float: none;
        width: 100%;
        padding-left: 0;
    }

    .footLogoMenu {
        display: none;
    }

    footer {
        height: 150px;
        margin-top: 70px;
    }

    .snsCopy {
        width: 276px;
        margin: 0 auto;
    }

    .snsList {
        float: none;
    }

    .copyAddr {
        width: 276px;
        text-align: center;
        transform: translateY(60px);
    }

    .copyAddr span:first-child {
        display: none;
    }

    .snsList {
        width: 140px;
        margin: 0 auto;
        transform: translateY(-50px);
    }

    .searchBox2 {
        width: 60%;
        min-width: 300px;
    }

    .searchBox2 .search {
        width: 50%;
        min-width: 150px;
    }
}
